div(ng-include='"components/navbar/navbar.html"')

#navigation_bar(style='')
#introduction
    .outer_container
      .inner_container
        h1 Welcome to WhichMethod
        p
          | WhichMethod is a survey by Public Health Solutions in New York City.
        p
          | By agreeing to take this survey your AGREE that your are 21 years of age. Your information will be kept secure and will only be used for purposes of this study.
        .button
          a(href='', title='') SAVE
        .button
          a(href='', title='') CONTINUE
#plays_index
#plays.outer_container

        </body>
        </html>



header#header.info
          h2 WhichMethod_01
          div
        ul
          li#foli105.notranslate
            label#title105.desc(for='Field105')
              | How old are you?
            div
              input#Field105.field.text.medium(name='Field105', type='text', value='', maxlength='255', tabindex='1', onkeyup='')
          li#foli107.notranslate
            label#title107.desc(for='Field107')
              | How tall are you?
            div
              input#Field107.field.text.medium(name='Field107', type='text', value='', maxlength='255', tabindex='2', onkeyup='')
          li#foli109.notranslate
            label#title109.desc(for='Field109')
              | How much do you weigh?
            div
              input#Field109.field.text.medium(name='Field109', type='text', value='', maxlength='255', tabindex='3', onkeyup='')
          li#foli117.notranslate
            fieldset
              legend#title117.desc
                | What is your race or ethnicity?
              //if lt IE 8
                label#title117.desc
                  | What is your race or ethnicity?
              div
                input#radioDefault_117(name='Field117', type='hidden', value='')
                span
                  input#Field117_0.field.radio(name='Field117', type='radio', value='African American', tabindex='4', checked='checked')
                  label.choice(for='Field117_0')
                    | African American
                span
                  input#Field117_1.field.radio(name='Field117', type='radio', value='Latino', tabindex='5')
                  label.choice(for='Field117_1')
                    | Latino
                span
                  input#Field117_2.field.radio(name='Field117', type='radio', value='White', tabindex='6')
                  label.choice(for='Field117_2')
                    | White
          li#foli111.notranslate
            label#title111.desc(for='Field111')
              | Were you born in the United States or in another country?
            div
              input#Field111.field.text.medium(name='Field111', type='text', value='', maxlength='255', tabindex='7', onkeyup='')
          li#foli112.notranslate
            label#title112.desc(for='Field112')
              | What is the highest level of education you have completed?
            div
              input#Field112.field.text.medium(name='Field112', type='text', value='', maxlength='255', tabindex='8', onkeyup='')
          li#foli113.notranslate
            label#title113.desc(for='Field113')
              | How often do you smoke cigarettes or cigars or use smokeless tobacco?
            div
              input#Field113.field.text.medium(name='Field113', type='text', value='', maxlength='255', tabindex='9', onkeyup='')
          li.buttons
            div
              input#saveForm.btTxt.submit(name='saveForm', type='submit', value='Submit')
          li.hide
            label(for='comment') Do Not Fill This Out
            textarea#comment(name='comment', rows='1', cols='1')
            input#idstamp(type='hidden', name='idstamp', value='5SvzZXNbWeyEnO/cGh38SuyYyAc8U075BHQg23s/Lmw=')
    //
      container
    a.powertiny(href='http://www.wufoo.com/form-builder/', title='Powered by Wufoo', style='display: block !important; visibility: visible !important; text-indent: 0 !important; position: relative !important; height: auto !important; width: 95px !important; overflow: visible !important; text-decoration: none; cursor: pointer !important; margin: 0 auto !important;')
      span(style='background: url(./images/powerlogo.png) no-repeat center 7px; margin: 0 auto; display: inline-block !important; visibility: visible !important; text-indent: -9000px !important; position: static !important; overflow: auto !important; width: 62px !important; height: 30px !important;') Wufoo
      b(style='display: block !important; visibility: visible !important; text-indent: 0 !important; position: static !important; height: auto !important; width: auto !important; overflow: auto !important; font-weight: normal; font-size: 9px; color: #777; padding: 0 0 0 3px;') Designed






