
div(ng-include='"components/navbar/navbar.html"')

#navigation_bar(style='')
#introduction
    .outer_container
      .inner_container
        h1 Welcome to WhichMethod
        p
          | By agreeing to take this survey your AGREE that your are 21 years of age. Your information will be kept secure and will only be used for purposes of this study.
        .button
          a(href='', title='') SAVE
        .button
          a(href='', title='') CONTINUE
#plays_index
#plays.outer_container

        </body>
        </html>
