div(ng-include='"components/navbar/navbar.html"')

#navigation_bar(style='')
#introduction
    .outer_container
      .inner_container
        h1 Welcome to WhichMethod
        p
          | By agreeing to take this survey your AGREE that your are 21 years of age. Your information will be kept secure and will only be used for purposes of this study.
        .button
          a(href='', title='') SAVE
        .button
          a(href='', title='') CONTINUE
#plays_index
#plays.outer_container


            h4 U.S. Digital Services Playbook
          ul.nav
            li.play_square
              a(href='#play1', title='View Play 1: Understand what people need') 1
            li.play_square
              a(href='#play2', title='View Play 2: Address the whole experience, from start to finish') 2
            li.play_square
              a(href='#play3', title='View Play 3: Make it simple and intuitive') 3
            li.play_square
              a(href='#play4', title='View Play 4: Build the service using agile and iterative practices') 4
            li.play_square
              a(href='#play5', title='View Play 5: Structure budgets and contracts to support delivery') 5
            li.play_square
              a(href='#play6', title='View Play 6: Assign one leader and hold that person accountable') 6
            li.play_square
              a(href='#play7', title='View Play 7: Bring in experienced teams') 7
            li.play_square
              a(href='#play8', title='View Play 8: Choose a modern technology stack') 8
            li.play_square
              a(href='#play9', title='View Play 9: Deploy in a flexible hosting environment') 9
            li.play_square
              a(href='#play10', title='View Play 10: Automate testing and deployments') 10
            li.play_square
              a(href='#play11', title='View Play 11: Manage security and privacy through reusable processes') 11
            li.play_square
              a(href='#play12', title='View Play 12: Use data to drive decisions') 12
            li.play_square
              a(href='#play13', title='View Play 13: Default to open') 13
          #menu_icon
            a(href='#plays_index_anchor', title='Return to Index')