div(ng-include='"components/navbar/navbar.html"')
.container

  //these are buttons to download csv (in progress)
    //a.btn.btn-primary(href="/api/users/csv/1" target="blank") Get User Emails CSV
    &nbsp;
    //a.btn.btn-primary(href="/api/users/csv/2" target="blank") Get User Data CSV 

  .sAdminOuter
    .sectionA(ng-repeat="s in sections")
      .heading.inner Section {{$index+1}}
      .info.inner
        div.h5 Section Totals:
        table.table-striped.table-bordered
          tr
            td.alabel completion:
            td.data {{s.completed}} out of {{users.length}} ({{s.cpercent}} )

          tr
            td.alabel abandonment:
            td.data {{s.abandonded}} out of {{users.length}} ({{s.apercent}})
        br
        .clearfix 
          div.h5 Abandonded on Question:
          table.table-striped.table-bordered
            tr.questions(ng-repeat="(key,value) in s.q")
              td {{key}}
              td.data {{value.number}} out of {{s.abandonded}} ({{value.percent}})

  br
  //- p
    //- | ALL USERS
  //- ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}} {{user.currentSection}} {{user.currentQuestion}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='delete(user)')
        span.glyphicon.glyphicon-trash.pull-right