node_modules
public
data
.tmp
.sass-cache
.idea
client/bower_components
dist
tmp
/server/config/local.env.js
*.log
test-results.xml
karma_html/
/nbproject/private/
*.swp
*.DS_Store
*.sublime-project
*.sublime-workspace
.checkclient