
@font-face {
    font-family: UltimaAlt;
    src: url(/assets/fonts/2CD37C_0_0.woff);
}



.UltimaAlt {
	font-family: UltimaAlt;
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5 {
	font-family: UltimaAlt;
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: UltimaAlt;
}