.UltimaAlt {
	font-family: UltimaAlt;
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5 {
	font-family: UltimaAlt;
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: UltimaAlt;
}