div(ng-include='"components/navbar/navbar.html"')
.loginView(ui-view="login")



div.mainContainer(main)
    .jumbotron(fullscreen)
      .main_content

        i.glyphicon.glyphicon-search

        .title
          h1 WhichMethod

        .description 
          | Confused about contraceptive methods...? WhichMethod is designed to help women choose a birth control method that is safe, effective and fits their lifestyle. 

        
        .get_start 
          //a.btn.btn-success.btn-lg(ng-click="startServey()") Get WhichMethod »
          a.start_btn(ng-click="startServey()") Get WhichMethod »
          
    .sub_content
      .row
        .col-lg-4
          h3 Step 1: Sign up today
          p.text-justify.center-block
            | There are two ways to take enter WhichMethod: 1. Registered User: Will see recommendations and get a copy via email; and 2. Guest User: You will be able to print recommendations, but to save them you must go ahead and sign-up as a registered user.
          // p
            a.btn.btn-default(href='#') View details »
        
        .col-lg-4
          h3 Step 2: Answer the questions
          p.text-justify.center-block
            | WhichMethod is an interactive tool that asks a series of questions about your medical history, preferences and priorities and sexual behavior. WhichMethod is available in both Spanish and English.
          // p
            a.btn.btn-default(href='#') View details »
          
        .col-lg-4
          h3 Step 3: Get recommendations
          p.text-justify.center-block
            | Once you have completed the questions, WhichMethod will identify birth control methods that are effective, safe and fit your needs. Please share these recommendations with your doctor.
          // p
            a.btn.btn-default(href='#') View details »
      hr
    
    footer
      p.lists &copy;Public Health Solutions 2014 | About WhichMethod | Clinical Partners | Privacy Policy | Learn More | Contact Us

    //
       /container 
    //
       Bootstrap core JavaScript
    //  ==================================================
    //
       Placed at the end of the document so the pages load faster 
    // script(src='client/bower_components/jquery/dist/jquery.js')
    // script(src='client/bower_components/bootstrap/dist/js/bootstrap.min.js')
