div(ng-include='"components/navbar/navbar.html"')

.loginView(ui-view="login")



div(main)
       // .navbar.navbar-inverse.navbar-fixed-top
        form.navbar-form.navbar-left
        .form-group
        input.form-control(type='text', placeholder='Email')
        .form-group
        input.form-control(type='password', placeholder='Password')
        button.btn.btn-success(type='submit') Sign in


      //.container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
          .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
          form.navbar-form.navbar-right
            .form-group
              input.form-control(type='text', placeholder='Email')
            .form-group
              input.form-control(type='password', placeholder='Password')
            button.btn.btn-success(type='submit') Sign in
        //
          /.navbar-collapse 
    //
       Main jumbotron for a primary marketing message or call to action 
    .jumbotron(fullscreen)
      .container
        h1 WhichMethod
        p
          | The decision-making process of choosing a contraceptive method is complex and becoming even more so today. Our WhichMethod app is designed to give women the tools to make an informed decision about which method works best for you. WhichMethod helps women engage in the process of choosing a contraceptive method tailored to your everyday lifestyle. 
        p
          a.btn.btn-success.btn-lg(ng-click="startServey()") Get WhichMethod »
          
    .container
      //
         Example row of columns 
      .row
        .col-lg-4
          h3 Step 1: Sign up today
          p.text-justify.center-block
            | There are two ways to take enter WhichMethod: 1. as a Registered User; and 2. as a Guest User. As a Registered User you will need to Sign up and we will send you recommendations via email; as a Guest User you'll still receive recommendations; however, you will not receive them via your email address.
          // p
            a.btn.btn-default(href='#') View details »
        .col-lg-4
          h3 Step 2: Take the survey
          p.text-justify.center-block
            | WhichMethod is an interactive contraception assessment that is available in both Spanish and English and includes approximately 50 questions about contraceptive history, preferences and priorities, and medical history and sexual risk factors.
          // p
            a.btn.btn-default(href='#') View details »
        .col-lg-4
          h3 Step 3: Get recommendations
          p.text-justify.center-block
            | Once you've completed the assessment the WhichMethod app that provides a birth control method that is effective, safe, and best fits your needs. You will receive individually-tailored feedback about contraceptive methods that are a best fit (both effective and medically appropriate).
          // p
            a.btn.btn-default(href='#') View details »
      hr
      footer
        p &copy;Public Health Solutions 2014 | About WhichMethod | Clinical Partners | Privacy Policy

    //
       /container 
    //
       Bootstrap core JavaScript
    //  ==================================================
    //
       Placed at the end of the document so the pages load faster 
    // script(src='client/bower_components/jquery/dist/jquery.js')
    // script(src='client/bower_components/bootstrap/dist/js/bootstrap.min.js')
