div(ng-include='"components/navbar/navbar.html"')

.loginView(ui-view="login")



div(main)
    .jumbotron(fullscreen)
      .main_content

        .title
          h1 WhichMethod

        .description 
          | The decision-making process of choosing a contraceptive method is complex and becoming even more so today. Our WhichMethod app is designed to give women the tools to make an informed decision about which method works best for you. WhichMethod helps women engage in the process of choosing a contraceptive method tailored to your everyday lifestyle. 

        
        .get_start 
          //a.btn.btn-success.btn-lg(ng-click="startServey()") Get WhichMethod »
          a.start_btn(ng-click="startServey()") Get WhichMethod »
          
    .sub_content
      .row
        .col-lg-4
          h3 Step 1: Sign up today
          p.text-justify.center-block
            | There are two ways to take enter WhichMethod: 1. as a Registered User; and 2. as a Guest User. As a Registered User you will need to Sign up and we will send you recommendations via email; as a Guest User you'll still receive recommendations; however, you will not receive them via your email address.
          // p
            a.btn.btn-default(href='#') View details »
        
        .col-lg-4
          h3 Step 2: Take the survey
          p.text-justify.center-block
            | WhichMethod is an interactive contraception assessment that is available in both Spanish and English and includes approximately 50 questions about contraceptive history, preferences and priorities, and medical history and sexual risk factors.
          // p
            a.btn.btn-default(href='#') View details »
          
        .col-lg-4
          h3 Step 3: Get recommendations
          p.text-justify.center-block
            | Once you've completed the assessment the WhichMethod app that provides a birth control method that is effective, safe, and best fits your needs. You will receive individually-tailored feedback about contraceptive methods that are a best fit (both effective and medically appropriate).
          // p
            a.btn.btn-default(href='#') View details »
      hr
    
    footer
      p.lists &copy;Public Health Solutions 2014 | About WhichMethod | Clinical Partners | Privacy Policy

    //
       /container 
    //
       Bootstrap core JavaScript
    //  ==================================================
    //
       Placed at the end of the document so the pages load faster 
    // script(src='client/bower_components/jquery/dist/jquery.js')
    // script(src='client/bower_components/bootstrap/dist/js/bootstrap.min.js')
