div(ng-include='"components/navbar/navbar.html"')
.loginView(ui-view="login")


.mainContainer(main)
    .jumbotron(fullscreen)
      #lang-switch
      .main_content
        .title
          h1 
            a(href='/signup') 
              span(ng-show="language=='en'") WhichMethod?
              span(ng-show="language=='es'") WhichMethod?
        .description 
          h2 
            span(ng-show="language=='en'") Confused about contraception? Need to find the birth control that works for you?
            span(ng-show="language=='es'")  ¿Confundida sobre métodos anticonceptivos? ¿Necesita encontrar el mejor método anticonceptivo para usted?

          h4
            span(ng-show="language=='en'") WhichMethod is designed to help you choose a birth control method that is safe, effective and fits your lifestyle.
            span(ng-show="language=='es'") WhichMethod está diseñado para ayudarla a escoger un método anticonceptivo que sea seguro, efectivo y adecuado para su estilo de vida.
        br
        br
      .row
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image1.jpg')
            img(src='/assets/images/whichmethod_image1.jpg', alt='...')
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image2.jpg')
            img(src='/assets/images/whichmethod_image2.jpg', alt='...')
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image3.jpg')
            img(src='/assets/images/whichmethod_image3.jpg', alt='...')
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image4.jpg')
            img(src='/assets/images/whichmethod_image4.jpg', alt='...')


        br

        .get_start 
          //a.btn.btn-success.btn-lg(ng-click="startServey()") Get WhichMethod »
          // a.start_btn(ng-click="startServey()") Start now »
        br

        .description 

    
    #footer
      .container
        p(ng-class="{'checkedClass': team.isChecked, 'uncheckedClass': !team.isChecked}")
          | @Public Health Solutions 2015  |  
          a(href='/info/about')
            span(ng-show="language=='en'") About WhichMethod.org  |
            span(ng-show="language=='es'") Sobre WhichMethod.org  |
          a(href='/info/outreachpartners')
            span(ng-show="language=='en'") Outreach Partners  |  
            span(ng-show="language=='es'") Organizaciones Comunitarias  |
          a(href='/info/privacypolicy')
            span(ng-show="language=='en'") Privacy Policy  |  
            span(ng-show="language=='es'") Política de Privacidad  |
          a(href='/info/contactus')
            span(ng-show="language=='en'") Contact Us  |
            span(ng-show="language=='es'") Contáctenos  |
          a.btn-link(href='http://www.plannedparenthood.org/learn/birth-control', target='_blank')
            span(ng-show="language=='en'") Learn More  |
            span(ng-show="language=='es'") Aprende Mas  |
        br
        br
        br
        br
        br
    //
       /container 
    //
       Bootstrap core JavaScript
    //  ==================================================
    //
       Placed at the end of the document so the pages load faster 
    // script(src='client/bower_components/jquery/dist/jquery.js')
    // script(src='client/bower_components/bootstrap/dist/js/bootstrap.min.js')
