div(ng-include='"components/navbar/navbar.html"')

.loginView(ui-view="login")

div(main)
       // .navbar.navbar-inverse.navbar-fixed-top
        form.navbar-form.navbar-left
        .form-group
        input.form-control(type='text', placeholder='Email')
        .form-group
        input.form-control(type='password', placeholder='Password')
        button.btn.btn-success(type='submit') Sign in


      //.container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
          .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                b.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
          form.navbar-form.navbar-right
            .form-group
              input.form-control(type='text', placeholder='Email')
            .form-group
              input.form-control(type='password', placeholder='Password')
            button.btn.btn-success(type='submit') Sign in
        //
          /.navbar-collapse 
    //
       Main jumbotron for a primary marketing message or call to action 
    .jumbotron(fullscreen)
      .container
        h1 WhichMethod
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-success.btn-lg(href='signup') Start survey »
          
    .container
      //
         Example row of columns 
      .row
        .col-lg-4
          h3 Step 1: Sign up today
          p.text-justify.center-block
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          // p
            a.btn.btn-default(href='#') View details »
        .col-lg-4
          h3 Step 2: Take the survey
          p.text-justify.center-block
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          // p
            a.btn.btn-default(href='#') View details »
        .col-lg-4
          h3 Step 3: Get recommendations
          p.text-justify.center-block
            | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          // p
            a.btn.btn-default(href='#') View details »
      hr
      footer
        p &copy; Public Health Solutions 2014
    //
       /container 
    //
       Bootstrap core JavaScript
    //  ==================================================
    //
       Placed at the end of the document so the pages load faster 
    // script(src='client/bower_components/jquery/dist/jquery.js')
    // script(src='client/bower_components/bootstrap/dist/js/bootstrap.min.js')
