div(ng-include='"components/navbar/navbar.html"')
.loginView(ui-view="login")




.mainContainer(main)
    .jumbotron(fullscreen)
      .main_content


        .title
          h1
            a(href='#signup') WhichMethod?
        .description 
          h3
            span.en Confused about contraception? Need to find the birth control that works for you?
            span.es Confundido acerca de la anticoncepción ? Necesidad de encontrar el control de la natalidad que funcione para usted ?
          h4 
            span.en WhichMethod is designed to help you choose a birth control method that is safe, effective and fits your lifestyle.
            span.es WhichMethod está diseñado para ayudarle a elegir un método anticonceptivo que sea seguro, eficaz y se adapte a su estilo de vida.
        br
        br
      .row
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image1.jpg')
            img(src='/assets/images/whichmethod_image1.jpg', alt='...')
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image2.jpg')
            img(src='/assets/images/whichmethod_image2.jpg', alt='...')
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image3.jpg')
            img(src='/assets/images/whichmethod_image3.jpg', alt='...')
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image4.jpg')
            img(src='/assets/images/whichmethod_image4.jpg', alt='...')


        br

        .get_start 
          //a.btn.btn-success.btn-lg(ng-click="startServey()") Get WhichMethod »
          // a.start_btn(ng-click="startServey()") Start now »
        br

        .description 

    
    #footer
      .container
        p
          | @Public Health Solutions 2015 
          a(href='/app/sections/info/about') About WhichMethod  
          a(href='/app/sections/info/outreachpartners') Outreach Partners 
          a(href='/app/sections/info/privacypolicy') Privacy Policy 
          a(href='/app/sections/info/learnmore') Learn More 
          a(href='/app/sections/info/contact') Contact Us 
        br
        br
        br
        br
    //
       /container 
    //
       Bootstrap core JavaScript
    //  ==================================================
    //
       Placed at the end of the document so the pages load faster 
    // script(src='client/bower_components/jquery/dist/jquery.js')
    // script(src='client/bower_components/bootstrap/dist/js/bootstrap.min.js')
