div(ng-include='"components/navbar/navbar.html"')
.loginView(ui-view="login")


.mainContainer(main)
    .jumbotron(fullscreen)
      #lang-switch
      .main_content
        .title
          h1
            a(href='signup') WhichMethod?
        .description 
          h2
            span(ng-show="language=='en'") Confused about contraception? Need to find the birth control that works for you?
            span(ng-show="language=='es'") Confundido acerca de la anticoncepción ? Necesidad de encontrar el control de la natalidad que funcione para usted ?
          h4 
            span(ng-show="language=='en'") WhichMethod is designed to help you choose a birth control method that is safe, effective and fits your lifestyle.
            span(ng-show="language=='es'") WhichMethod está diseñado para ayudarle a elegir un método anticonceptivo que sea seguro, eficaz y se adapte a su estilo de vida.
        br
        br
      .row
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image1.jpg')
            img(src='/assets/images/whichmethod_image1.jpg', alt='...')
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image2.jpg')
            img(src='/assets/images/whichmethod_image2.jpg', alt='...')
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image3.jpg')
            img(src='/assets/images/whichmethod_image3.jpg', alt='...')
        .col-xs-6.col-md-3
          a.thumbnail(href='#/assets/images/whichmethod_image4.jpg')
            img(src='/assets/images/whichmethod_image4.jpg', alt='...')


        br

        .get_start 
          //a.btn.btn-success.btn-lg(ng-click="startServey()") Get WhichMethod »
          // a.start_btn(ng-click="startServey()") Start now »
        br

        .description 

    
    #footer
      .container
        p(ng-class="{'checkedClass': team.isChecked, 'uncheckedClass': !team.isChecked}")
          | @Public Health Solutions 2015  |  
          a(href='/info/about') About WhichMethod  |
          a(href='/info/outreachpartners')  Outreach Partners  |  
          a(href='/info/privacypolicy')   Privacy Policy  |  
          a(href='/info/contactus')   Contact Us  |  
          a.btn-link(href='http://www.plannedparenthood.org/learn/birth-control', target='_blank') Learn More  |
        br
        br
        br
        br
    //
       /container 
    //
       Bootstrap core JavaScript
    //  ==================================================
    //
       Placed at the end of the document so the pages load faster 
    // script(src='client/bower_components/jquery/dist/jquery.js')
    // script(src='client/bower_components/bootstrap/dist/js/bootstrap.min.js')
