header#header.info()

  div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px")
    method: {{key}} pos: {{value.p}} neg: {{value.n}}

  h2 WhichMethod_05
  ul
     li#q32(ng-show="currentQuestion == 'q32'")
      label
        | Q32. Have you had a baby in the last 6 months?
      div
        span
          input.field.radio(ng-model='questions.q32.answer' value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q32.answer',  value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q32.answer',  value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q32.answer',  value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question


          li#foli121.notranslate
            fieldset
              legend#title121.desc
                | Q32.a. Was your baby born less than 3 weeks ago?
              //if lt IE 8
                label#title121.desc
                  | Q32.a. Was your baby born less than 3 weeks ago?
              div
                input#radioDefault_121(name='Field121', type='hidden', value='')
                span
                  input#Field121_0.field.radio(name='Field121', type='radio', value='Yes', tabindex='5', checked='checked')
                  label.choice(for='Field121_0')
                    | Yes
                span
                  input#Field121_1.field.radio(name='Field121', type='radio', value='No', tabindex='6')
                  label.choice(for='Field121_1')
                    | No
                span
                  input#Field121_2.field.radio(name='Field121', type='radio', value='I don\'t know', tabindex='7')
                  label.choice(for='Field121_2')
                    | I don't know
                span
                  input#Field121_3.field.radio(name='Field121', type='radio', value='I don\'t want to answer this question', tabindex='8')
                  label.choice(for='Field121_3')
                    | I don't want to answer this question
          li#foli122.notranslate
            fieldset
              legend#title122.desc
                | Q32.b. Are you breastfeeding a child now?
              //if lt IE 8
                label#title122.desc
                  | Q32.b. Are you breastfeeding a child now?
              div
                input#radioDefault_122(name='Field122', type='hidden', value='')
                span
                  input#Field122_0.field.radio(name='Field122', type='radio', value='Yes', tabindex='9', checked='checked')
                  label.choice(for='Field122_0')
                    | Yes
                span
                  input#Field122_1.field.radio(name='Field122', type='radio', value='No', tabindex='10')
                  label.choice(for='Field122_1')
                    | No
                span
                  input#Field122_2.field.radio(name='Field122', type='radio', value='I don\'t know', tabindex='11')
                  label.choice(for='Field122_2')
                    | I don't know
                span
                  input#Field122_3.field.radio(name='Field122', type='radio', value='I don\'t want to answer this question', tabindex='12')
                  label.choice(for='Field122_3')
                    | I don't want to answer this question
          li#foli123.notranslate
            fieldset
              legend#title123.desc
                | Q33. Has a doctor, nurse, or other health professional EVER told you that you had high blood pressure, also called hypertension?
              //if lt IE 8
                label#title123.desc
                  | Q33. Has a doctor, nurse, or other health professional EVER told you that you had high blood pressure, also called hypertension?
              div
                input#radioDefault_123(name='Field123', type='hidden', value='')
                span
                  input#Field123_0.field.radio(name='Field123', type='radio', value='Yes', tabindex='13', checked='checked')
                  label.choice(for='Field123_0')
                    | Yes
                span
                  input#Field123_1.field.radio(name='Field123', type='radio', value='No', tabindex='14')
                  label.choice(for='Field123_1')
                    | No
                span
                  input#Field123_2.field.radio(name='Field123', type='radio', value='I don\'t know', tabindex='15')
                  label.choice(for='Field123_2')
                    | I don't know
                span
                  input#Field123_3.field.radio(name='Field123', type='radio', value='I don\'t want to answer this question', tabindex='16')
                  label.choice(for='Field123_3')
                    | I don't want to answer this question
            p#instruct123.instruct
              small
                | High blood pressure (HBP) or hypertension means high pressure (tension) in the arteries. Arteries are vessels that carry blood from the pumping heart to all the tissues and organs of the body. High blood pressure does not mean excessive emotional tension, although emotional tension and stress can temporarily increase blood pressure.
          li#foli124.notranslate
            fieldset
              legend#title124.desc
                | Q33.a. Are you taking medicine for high blood pressure now?
              //if lt IE 8
                label#title124.desc
                  | Q33.a. Are you taking medicine for high blood pressure now?
              div
                input#radioDefault_124(name='Field124', type='hidden', value='')
                span
                  input#Field124_0.field.radio(name='Field124', type='radio', value='Yes', tabindex='17', checked='checked')
                  label.choice(for='Field124_0')
                    | Yes
                span
                  input#Field124_1.field.radio(name='Field124', type='radio', value='No', tabindex='18')
                  label.choice(for='Field124_1')
                    | No
                span
                  input#Field124_2.field.radio(name='Field124', type='radio', value='I don\'t know', tabindex='19')
                  label.choice(for='Field124_2')
                    | I don't know
                span
                  input#Field124_3.field.radio(name='Field124', type='radio', value='I don\'t want to answer this question', tabindex='20')
                  label.choice(for='Field124_3')
                    | I don't want to answer this question
            p#instruct124.instruct
              small
                | High blood pressure (HBP) or hypertension means high pressure (tension) in the arteries. Arteries are vessels that carry blood from the pumping heart to all the tissues and organs of the body. High blood pressure does not mean excessive emotional tension, although emotional tension and stress can temporarily increase blood pressure.
          li#foli125.notranslate
            fieldset
              legend#title125.desc
                | Q34. Has a doctor, nurse, or other health professional EVER told you that you had blood clots,  also called clot in a vein or DVT?
              //if lt IE 8
                label#title125.desc
                  | Q34. Has a doctor, nurse, or other health professional EVER told you that you had blood clots,  also called clot in a vein or DVT?
              div
                input#radioDefault_125(name='Field125', type='hidden', value='')
                span
                  input#Field125_0.field.radio(name='Field125', type='radio', value='Yes', tabindex='21', checked='checked')
                  label.choice(for='Field125_0')
                    | Yes
                span
                  input#Field125_1.field.radio(name='Field125', type='radio', value='No', tabindex='22')
                  label.choice(for='Field125_1')
                    | No
                span
                  input#Field125_2.field.radio(name='Field125', type='radio', value='I don\'t know', tabindex='23')
                  label.choice(for='Field125_2')
                    | I don't know
                span
                  input#Field125_3.field.radio(name='Field125', type='radio', value='I don\'t want to answer this question', tabindex='24')
                  label.choice(for='Field125_3')
                    | I don't want to answer this question
            p#instruct125.instruct
              small
                | Deep venous thrombosis (DVT) is a condition in which a blood clot forms in a vein that is deep inside the body. DVT mainly affects the veins in the lower leg and thigh.
          li#foli126.notranslate
            fieldset
              legend#title126.desc
                | Q35. Has a doctor, nurse, or other health professional EVER told you that you had pulmonary embolus, also called a clot in the lung?
              //if lt IE 8
                label#title126.desc
                  | Q35. Has a doctor, nurse, or other health professional EVER told you that you had pulmonary embolus, also called a clot in the lung?
              div
                input#radioDefault_126(name='Field126', type='hidden', value='')
                span
                  input#Field126_0.field.radio(name='Field126', type='radio', value='Yes', tabindex='25', checked='checked')
                  label.choice(for='Field126_0')
                    | Yes
                span
                  input#Field126_1.field.radio(name='Field126', type='radio', value='No', tabindex='26')
                  label.choice(for='Field126_1')
                    | No
                span
                  input#Field126_2.field.radio(name='Field126', type='radio', value='I don\'t know', tabindex='27')
                  label.choice(for='Field126_2')
                    | I don't know
                span
                  input#Field126_3.field.radio(name='Field126', type='radio', value='I don\'t want to answer this question', tabindex='28')
                  label.choice(for='Field126_3')
                    | I don't want to answer this question
            p#instruct126.instruct
              small
                | A pulmonary embolus is a blockage of an artery in the lungs by fat, air, blood clot, or tumor cells.
          li#foli127.notranslate
            fieldset
              legend#title127.desc
                | Q36. Have you had surgery in the past three months?
              //if lt IE 8
                label#title127.desc
                  | Q36. Have you had surgery in the past three months?
              div
                input#radioDefault_127(name='Field127', type='hidden', value='')
                span
                  input#Field127_0.field.radio(name='Field127', type='radio', value='Yes', tabindex='29', checked='checked')
                  label.choice(for='Field127_0')
                    | Yes
                span
                  input#Field127_1.field.radio(name='Field127', type='radio', value='No', tabindex='30')
                  label.choice(for='Field127_1')
                    | No
                span
                  input#Field127_2.field.radio(name='Field127', type='radio', value='I don\'t know', tabindex='31')
                  label.choice(for='Field127_2')
                    | I don't know
                span
                  input#Field127_3.field.radio(name='Field127', type='radio', value='I don\'t want to answer this question', tabindex='32')
                  label.choice(for='Field127_3')
                    | I don't want to answer this question
          li#foli128.notranslate
            fieldset
              legend#title128.desc
                | Q36.a. Is it hard moving around because of the surgery?
              //if lt IE 8
                label#title128.desc
                  | Q36.a. Is it hard moving around because of the surgery?
              div
                input#radioDefault_128(name='Field128', type='hidden', value='')
                span
                  input#Field128_0.field.radio(name='Field128', type='radio', value='Yes', tabindex='33', checked='checked')
                  label.choice(for='Field128_0')
                    | Yes
                span
                  input#Field128_1.field.radio(name='Field128', type='radio', value='No', tabindex='34')
                  label.choice(for='Field128_1')
                    | No
                span
                  input#Field128_2.field.radio(name='Field128', type='radio', value='I don\'t know', tabindex='35')
                  label.choice(for='Field128_2')
                    | I don't know
                span
                  input#Field128_3.field.radio(name='Field128', type='radio', value='I don\'t want to answer this question', tabindex='36')
                  label.choice(for='Field128_3')
                    | I don't want to answer this question
          li#foli129.notranslate
            fieldset
              legend#title129.desc
                | Q37. Has a doctor, nurse, or other health professional EVER told you that you had diabetes?
              //if lt IE 8
                label#title129.desc
                  | Q37. Has a doctor, nurse, or other health professional EVER told you that you had diabetes?
              div
                input#radioDefault_129(name='Field129', type='hidden', value='')
                span
                  input#Field129_0.field.radio(name='Field129', type='radio', value='Yes', tabindex='37', checked='checked')
                  label.choice(for='Field129_0')
                    | Yes
                span
                  input#Field129_1.field.radio(name='Field129', type='radio', value='No', tabindex='38')
                  label.choice(for='Field129_1')
                    | No
                span
                  input#Field129_2.field.radio(name='Field129', type='radio', value='I don\'t know', tabindex='39')
                  label.choice(for='Field129_2')
                    | I don't know
                span
                  input#Field129_3.field.radio(name='Field129', type='radio', value='I don\'t want to answer this question', tabindex='40')
                  label.choice(for='Field129_3')
                    | I don't want to answer this question
          li#foli131.notranslate
            fieldset
              legend#title131.desc
                | Q37.a. Have you had diabetes for more than 20 years?
              //if lt IE 8
                label#title131.desc
                  | Q37.a. Have you had diabetes for more than 20 years?
              div
                input#radioDefault_131(name='Field131', type='hidden', value='')
                span
                  input#Field131_0.field.radio(name='Field131', type='radio', value='Yes', tabindex='41', checked='checked')
                  label.choice(for='Field131_0')
                    | Yes
                span
                  input#Field131_1.field.radio(name='Field131', type='radio', value='No', tabindex='42')
                  label.choice(for='Field131_1')
                    | No
                span
                  input#Field131_2.field.radio(name='Field131', type='radio', value='I don\'t know', tabindex='43')
                  label.choice(for='Field131_2')
                    | I don't know
                span
                  input#Field131_3.field.radio(name='Field131', type='radio', value='I don\'t want to answer this question', tabindex='44')
                  label.choice(for='Field131_3')
                    | I don't want to answer this question
          li#foli195.notranslate
            fieldset
              legend#title195.desc
                | Q37.a. Do you have problems with your kidneys, eyes or nerves because of diabetes?
              //if lt IE 8
                label#title195.desc
                  | Q37.a. Do you have problems with your kidneys, eyes or nerves because of diabetes?
              div
                input#radioDefault_195(name='Field195', type='hidden', value='')
                span
                  input#Field195_0.field.radio(name='Field195', type='radio', value='Yes', tabindex='45', checked='checked')
                  label.choice(for='Field195_0')
                    | Yes
                span
                  input#Field195_1.field.radio(name='Field195', type='radio', value='No', tabindex='46')
                  label.choice(for='Field195_1')
                    | No
                span
                  input#Field195_2.field.radio(name='Field195', type='radio', value='I don\'t know', tabindex='47')
                  label.choice(for='Field195_2')
                    | I don't know
                span
                  input#Field195_3.field.radio(name='Field195', type='radio', value='I don\'t want to answer this question', tabindex='48')
                  label.choice(for='Field195_3')
                    | I don't want to answer this question
          li#foli130.notranslate
            fieldset
              legend#title130.desc
                | Q38. Has a doctor, nurse, or other health professional EVER told you that you had a stroke?
              //if lt IE 8
                label#title130.desc
                  | Q38. Has a doctor, nurse, or other health professional EVER told you that you had a stroke?
              div
                input#radioDefault_130(name='Field130', type='hidden', value='')
                span
                  input#Field130_0.field.radio(name='Field130', type='radio', value='Yes', tabindex='49', checked='checked')
                  label.choice(for='Field130_0')
                    | Yes
                span
                  input#Field130_1.field.radio(name='Field130', type='radio', value='No', tabindex='50')
                  label.choice(for='Field130_1')
                    | No
                span
                  input#Field130_2.field.radio(name='Field130', type='radio', value='I don\'t know', tabindex='51')
                  label.choice(for='Field130_2')
                    | I don't know
                span
                  input#Field130_3.field.radio(name='Field130', type='radio', value='I don\'t want to answer this question', tabindex='52')
                  label.choice(for='Field130_3')
                    | I don't want to answer this question
          li#foli132.notranslate
            fieldset
              legend#title132.desc
                | Q39. Has a doctor, nurse, or other health prodessional EVER told you that you had a clotting disorder?
              //if lt IE 8
                label#title132.desc
                  | Q39. Has a doctor, nurse, or other health prodessional EVER told you that you had a clotting disorder?
              div
                input#radioDefault_132(name='Field132', type='hidden', value='')
                span
                  input#Field132_0.field.radio(name='Field132', type='radio', value='Yes', tabindex='53', checked='checked')
                  label.choice(for='Field132_0')
                    | Yes
                span
                  input#Field132_1.field.radio(name='Field132', type='radio', value='No', tabindex='54')
                  label.choice(for='Field132_1')
                    | No
                span
                  input#Field132_2.field.radio(name='Field132', type='radio', value='I don\'t know', tabindex='55')
                  label.choice(for='Field132_2')
                    | I don't know
                span
                  input#Field132_3.field.radio(name='Field132', type='radio', value='I don\'t want to answer this question', tabindex='56')
                  label.choice(for='Field132_3')
                    | I don't want to answer this question
          li#foli134.notranslate
            fieldset
              legend#title134.desc
                | Q40. Do you have migraine headaches?
              //if lt IE 8
                label#title134.desc
                  | Q40. Do you have migraine headaches?
              div
                input#radioDefault_134(name='Field134', type='hidden', value='')
                span
                  input#Field134_0.field.radio(name='Field134', type='radio', value='Yes', tabindex='57', checked='checked')
                  label.choice(for='Field134_0')
                    | Yes
                span
                  input#Field134_1.field.radio(name='Field134', type='radio', value='No', tabindex='58')
                  label.choice(for='Field134_1')
                    | No
                span
                  input#Field134_2.field.radio(name='Field134', type='radio', value='I don\'t know', tabindex='59')
                  label.choice(for='Field134_2')
                    | I don't know
                span
                  input#Field134_3.field.radio(name='Field134', type='radio', value='I don\'t want to this question', tabindex='60')
                  label.choice(for='Field134_3')
                    | I don't want to this question
          li#foli135.notranslate
            fieldset
              legend#title135.desc
                | Q40.a. Do you have migraine headaches with an aura? An aura is seeing spots or wavy lines before or during the migraine headache.
              //if lt IE 8
                label#title135.desc
                  | Q40.a. Do you have migraine headaches with an aura? An aura is seeing spots or wavy lines before or during the migraine headache.
              div
                input#radioDefault_135(name='Field135', type='hidden', value='')
                span
                  input#Field135_0.field.radio(name='Field135', type='radio', value='Yes', tabindex='61', checked='checked')
                  label.choice(for='Field135_0')
                    | Yes
                span
                  input#Field135_1.field.radio(name='Field135', type='radio', value='No', tabindex='62')
                  label.choice(for='Field135_1')
                    | No
                span
                  input#Field135_2.field.radio(name='Field135', type='radio', value='I don\'t know', tabindex='63')
                  label.choice(for='Field135_2')
                    | I don't know
                span
                  input#Field135_3.field.radio(name='Field135', type='radio', value='I don\'t want to answer this question', tabindex='64')
                  label.choice(for='Field135_3')
                    | I don't want to answer this question
          li#foli136.notranslate
            fieldset
              legend#title136.desc
                | Q41. Has a doctor, nurse, or other health professional EVER told you that you had a molar pregnancy?
              //if lt IE 8
                label#title136.desc
                  | Q41. Has a doctor, nurse, or other health professional EVER told you that you had a molar pregnancy?
              div
                input#radioDefault_136(name='Field136', type='hidden', value='')
                span
                  input#Field136_0.field.radio(name='Field136', type='radio', value='Yes', tabindex='65', checked='checked')
                  label.choice(for='Field136_0')
                    | Yes
                span
                  input#Field136_1.field.radio(name='Field136', type='radio', value='No', tabindex='66')
                  label.choice(for='Field136_1')
                    | No
                span
                  input#Field136_2.field.radio(name='Field136', type='radio', value='I don\'t know', tabindex='67')
                  label.choice(for='Field136_2')
                    | I don't know
                span
                  input#Field136_3.field.radio(name='Field136', type='radio', value='I don\'t want to answer this question', tabindex='68')
                  label.choice(for='Field136_3')
                    | I don't want to answer this question
          li#foli137.notranslate
            fieldset
              legend#title137.desc
                | Q42. Has a doctor, nurse, or other health professional EVER told you that you had AIDS?
              //if lt IE 8
                label#title137.desc
                  | Q42. Has a doctor, nurse, or other health professional EVER told you that you had AIDS?
              div
                input#radioDefault_137(name='Field137', type='hidden', value='')
                span
                  input#Field137_0.field.radio(name='Field137', type='radio', value='Yes', tabindex='69', checked='checked')
                  label.choice(for='Field137_0')
                    | Yes
                span
                  input#Field137_1.field.radio(name='Field137', type='radio', value='No', tabindex='70')
                  label.choice(for='Field137_1')
                    | No
                span
                  input#Field137_2.field.radio(name='Field137', type='radio', value='I don\'t know', tabindex='71')
                  label.choice(for='Field137_2')
                    | I don't know
                span
                  input#Field137_3.field.radio(name='Field137', type='radio', value='I don\'t want to answer this question', tabindex='72')
                  label.choice(for='Field137_3')
                    | I don't want to answer this question
          li#foli138.notranslate
            fieldset
              legend#title138.desc
                | Q43. Has a doctor, nurse, or other health professional EVER told you that you had pelvic tuberculosis?
              //if lt IE 8
                label#title138.desc
                  | Q43. Has a doctor, nurse, or other health professional EVER told you that you had pelvic tuberculosis?
              div
                input#radioDefault_138(name='Field138', type='hidden', value='')
                span
                  input#Field138_0.field.radio(name='Field138', type='radio', value='Yes', tabindex='73', checked='checked')
                  label.choice(for='Field138_0')
                    | Yes
                span
                  input#Field138_1.field.radio(name='Field138', type='radio', value='No', tabindex='74')
                  label.choice(for='Field138_1')
                    | No
                span
                  input#Field138_2.field.radio(name='Field138', type='radio', value='I don\'t know', tabindex='75')
                  label.choice(for='Field138_2')
                    | I don't know
                span
                  input#Field138_3.field.radio(name='Field138', type='radio', value='I don\'t want to answer this question', tabindex='76')
                  label.choice(for='Field138_3')
                    | I don't want to answer this question
          li#foli139.notranslate
            fieldset
              legend#title139.desc
                | Q44. Has a doctor, nurse, or other health professional EVER told you that you had toxic shock syndrome (TSS)?
              //if lt IE 8
                label#title139.desc
                  | Q44. Has a doctor, nurse, or other health professional EVER told you that you had toxic shock syndrome (TSS)?
              div
                input#radioDefault_139(name='Field139', type='hidden', value='')
                span
                  input#Field139_0.field.radio(name='Field139', type='radio', value='Yes', tabindex='77', checked='checked')
                  label.choice(for='Field139_0')
                    | Yes
                span
                  input#Field139_1.field.radio(name='Field139', type='radio', value='No', tabindex='78')
                  label.choice(for='Field139_1')
                    | No
                span
                  input#Field139_2.field.radio(name='Field139', type='radio', value='I don\'t know', tabindex='79')
                  label.choice(for='Field139_2')
                    | I don't know
                span
                  input#Field139_3.field.radio(name='Field139', type='radio', value='I don\'t want to answer this question', tabindex='80')
                  label.choice(for='Field139_3')
                    | I don't want to answer this question
          li#foli140.notranslate
            fieldset
              legend#title140.desc
                | Q45. Has a doctor, nurse, or other health professional ever told you that you had high cholesterol?
              //if lt IE 8
                label#title140.desc
                  | Q45. Has a doctor, nurse, or other health professional ever told you that you had high cholesterol?
              div
                input#radioDefault_140(name='Field140', type='hidden', value='')
                span
                  input#Field140_0.field.radio(name='Field140', type='radio', value='Yes', tabindex='81', checked='checked')
                  label.choice(for='Field140_0')
                    | Yes
                span
                  input#Field140_1.field.radio(name='Field140', type='radio', value='No', tabindex='82')
                  label.choice(for='Field140_1')
                    | No
                span
                  input#Field140_2.field.radio(name='Field140', type='radio', value='I don\'t know', tabindex='83')
                  label.choice(for='Field140_2')
                    | I don't know
                span
                  input#Field140_3.field.radio(name='Field140', type='radio', value='I don\'t want to answer this question', tabindex='84')
                  label.choice(for='Field140_3')
                    | I don't want to answer this question
          li#foli141.notranslate
            fieldset
              legend#title141.desc
                | Q46. In the past 3 months has a doctor, nurse, or other health professional told you that you had pelvic inflammatory disease (PID)?
              //if lt IE 8
                label#title141.desc
                  | Q46. In the past 3 months has a doctor, nurse, or other health professional told you that you had pelvic inflammatory disease (PID)?
              div
                input#radioDefault_141(name='Field141', type='hidden', value='')
                span
                  input#Field141_0.field.radio(name='Field141', type='radio', value='Yes', tabindex='85', checked='checked')
                  label.choice(for='Field141_0')
                    | Yes
                span
                  input#Field141_1.field.radio(name='Field141', type='radio', value='No', tabindex='86')
                  label.choice(for='Field141_1')
                    | No
                span
                  input#Field141_2.field.radio(name='Field141', type='radio', value='I don\'t know', tabindex='87')
                  label.choice(for='Field141_2')
                    | I don't know
                span
                  input#Field141_3.field.radio(name='Field141', type='radio', value='I don\'t want to answer this question', tabindex='88')
                  label.choice(for='Field141_3')
                    | I don't want to answer this question
          li#foli142.notranslate
            fieldset
              legend#title142.desc
                | Q47. Has a doctor, nurse, or other health professional EVER told you that you had endometriosis?
              //if lt IE 8
                label#title142.desc
                  | Q47. Has a doctor, nurse, or other health professional EVER told you that you had endometriosis?
              div
                input#radioDefault_142(name='Field142', type='hidden', value='')
                span
                  input#Field142_0.field.radio(name='Field142', type='radio', value='Yes', tabindex='89', checked='checked')
                  label.choice(for='Field142_0')
                    | Yes
                span
                  input#Field142_1.field.radio(name='Field142', type='radio', value='No', tabindex='90')
                  label.choice(for='Field142_1')
                    | No
                span
                  input#Field142_2.field.radio(name='Field142', type='radio', value='I don\'t know', tabindex='91')
                  label.choice(for='Field142_2')
                    | I don't know
                span
                  input#Field142_3.field.radio(name='Field142', type='radio', value='I don\'t want to answer this question', tabindex='92')
                  label.choice(for='Field142_3')
                    | I don't want to answer this question
          li#foli143.notranslate
            fieldset
              legend#title143.desc
                | Q48. Has a doctor, nurse, or other health professional EVER told you that you had cancer or a malignancy of any kind?
              //if lt IE 8
                label#title143.desc
                  | Q48. Has a doctor, nurse, or other health professional EVER told you that you had cancer or a malignancy of any kind?
              div
                input#radioDefault_143(name='Field143', type='hidden', value='')
                span
                  input#Field143_0.field.radio(name='Field143', type='radio', value='Yes', tabindex='93', checked='checked')
                  label.choice(for='Field143_0')
                    | Yes
                span
                  input#Field143_1.field.radio(name='Field143', type='radio', value='No', tabindex='94')
                  label.choice(for='Field143_1')
                    | No
                span
                  input#Field143_2.field.radio(name='Field143', type='radio', value='I don\'t know', tabindex='95')
                  label.choice(for='Field143_2')
                    | I don't know
                span
                  input#Field143_3.field.radio(name='Field143', type='radio', value='I don\'t want to answer this question', tabindex='96')
                  label.choice(for='Field143_3')
                    | I don't want to answer this question
          li#foli144.notranslate
            fieldset
              legend#title144.desc
                | Q48.a. Have you ever had breast cancer, liver tumors or liver cancer?
              //if lt IE 8
                label#title144.desc
                  | Q48.a. Have you ever had breast cancer, liver tumors or liver cancer?
              div
                input#radioDefault_144(name='Field144', type='hidden', value='')
                span
                  input#Field144_0.field.radio(name='Field144', type='radio', value='Yes', tabindex='97', checked='checked')
                  label.choice(for='Field144_0')
                    | Yes
                span
                  input#Field144_1.field.radio(name='Field144', type='radio', value='No', tabindex='98')
                  label.choice(for='Field144_1')
                    | No
                span
                  input#Field144_2.field.radio(name='Field144', type='radio', value='I don\'t know', tabindex='99')
                  label.choice(for='Field144_2')
                    | I don't know
                span
                  input#Field144_3.field.radio(name='Field144', type='radio', value='I don\'t want to answer this question', tabindex='100')
                  label.choice(for='Field144_3')
                    | I don't want to answer this question
          li#foli145.notranslate
            fieldset
              legend#title145.desc
                | Q.48.b. Have you ever had endometrial cancer, ovarian cancer, or cervical cancer?
              //if lt IE 8
                label#title145.desc
                  | Q.48.b. Have you ever had endometrial cancer, ovarian cancer, or cervical cancer?
              div
                input#radioDefault_145(name='Field145', type='hidden', value='')
                span
                  input#Field145_0.field.radio(name='Field145', type='radio', value='Yes', tabindex='101', checked='checked')
                  label.choice(for='Field145_0')
                    | Yes
                span
                  input#Field145_1.field.radio(name='Field145', type='radio', value='No', tabindex='102')
                  label.choice(for='Field145_1')
                    | No
                span
                  input#Field145_2.field.radio(name='Field145', type='radio', value='I don\'t know', tabindex='103')
                  label.choice(for='Field145_2')
                    | I don't know
                span
                  input#Field145_3.field.radio(name='Field145', type='radio', value='I don\'t want to answer this question', tabindex='104')
                  label.choice(for='Field145_3')
                    | I don't want to answer this question
          li#foli146.notranslate
            fieldset
              legend#title146.desc
                | Q49. Has a doctor, nurse, or other health professional EVER told you that you had a heart attack, also called a myocardial infarction, heart disease or vascular disease?
              //if lt IE 8
                label#title146.desc
                  | Q49. Has a doctor, nurse, or other health professional EVER told you that you had a heart attack, also called a myocardial infarction, heart disease or vascular disease?
              div
                input#radioDefault_146(name='Field146', type='hidden', value='')
                span
                  input#Field146_0.field.radio(name='Field146', type='radio', value='Yes', tabindex='105', checked='checked')
                  label.choice(for='Field146_0')
                    | Yes
                span
                  input#Field146_1.field.radio(name='Field146', type='radio', value='No', tabindex='106')
                  label.choice(for='Field146_1')
                    | No
                span
                  input#Field146_2.field.radio(name='Field146', type='radio', value='I don\'t know', tabindex='107')
                  label.choice(for='Field146_2')
                    | I don't know
                span
                  input#Field146_3.field.radio(name='Field146', type='radio', value='I don\'t want to answer this question', tabindex='108')
                  label.choice(for='Field146_3')
                    | I don't want to answer this question
          li#foli198.notranslate
            fieldset
              legend#title198.desc
                | Q50. Has a doctor, nurse, or other health professional EVER told you that you had complicated valvular heart disease?
              //if lt IE 8
                label#title198.desc
                  | Q50. Has a doctor, nurse, or other health professional EVER told you that you had complicated valvular heart disease?
              div
                input#radioDefault_198(name='Field198', type='hidden', value='')
                span
                  input#Field198_0.field.radio(name='Field198', type='radio', value='Yes', tabindex='109', checked='checked')
                  label.choice(for='Field198_0')
                    | Yes
                span
                  input#Field198_1.field.radio(name='Field198', type='radio', value='No', tabindex='110')
                  label.choice(for='Field198_1')
                    | No
                span
                  input#Field198_2.field.radio(name='Field198', type='radio', value='I don\'t know', tabindex='111')
                  label.choice(for='Field198_2')
                    | I don't know
                span
                  input#Field198_3.field.radio(name='Field198', type='radio', value='I don\'t want to answer this question', tabindex='112')
                  label.choice(for='Field198_3')
                    | I don't want to answer this question
          li#foli178.notranslate
            fieldset
              legend#title178.desc
                | Q51. Has a doctor, nurse, or other health professional EVER told you that you had liver or gallbladder problems?
              //if lt IE 8
                label#title178.desc
                  | Q51. Has a doctor, nurse, or other health professional EVER told you that you had liver or gallbladder problems?
              div
                input#radioDefault_178(name='Field178', type='hidden', value='')
                span
                  input#Field178_0.field.radio(name='Field178', type='radio', value='Yes', tabindex='113', checked='checked')
                  label.choice(for='Field178_0')
                    | Yes
                span
                  input#Field178_1.field.radio(name='Field178', type='radio', value='No', tabindex='114')
                  label.choice(for='Field178_1')
                    | No
                span
                  input#Field178_2.field.radio(name='Field178', type='radio', value='I don\'t know', tabindex='115')
                  label.choice(for='Field178_2')
                    | I don't know
                span
                  input#Field178_3.field.radio(name='Field178', type='radio', value='I don\'t want to answer this question', tabindex='116')
                  label.choice(for='Field178_3')
                    | I don't want to answer this question
          li#foli179.notranslate
            fieldset
              legend#title179.desc
                | Q51.a. Has a doctor, nurse, or other health professional EVER told you that you had gallbladder disease or gallstones?
              //if lt IE 8
                label#title179.desc
                  | Q51.a. Has a doctor, nurse, or other health professional EVER told you that you had gallbladder disease or gallstones?
              div
                input#radioDefault_179(name='Field179', type='hidden', value='')
                span
                  input#Field179_0.field.radio(name='Field179', type='radio', value='Yes', tabindex='117', checked='checked')
                  label.choice(for='Field179_0')
                    | Yes
                span
                  input#Field179_1.field.radio(name='Field179', type='radio', value='No', tabindex='118')
                  label.choice(for='Field179_1')
                    | No
                span
                  input#Field179_2.field.radio(name='Field179', type='radio', value='I don\'t know', tabindex='119')
                  label.choice(for='Field179_2')
                    | I don't know
                span
                  input#Field179_3.field.radio(name='Field179', type='radio', value='I don\'t want to answer this question', tabindex='120')
                  label.choice(for='Field179_3')
                    | I don't want to answer this question
          li#foli183.notranslate
            fieldset
              legend#title183.desc
                | Q51.b. Has a doctor, nurse, or other health professional EVER told you that you had cirrhosis or active hepatitis?
              //if lt IE 8
                label#title183.desc
                  | Q51.b. Has a doctor, nurse, or other health professional EVER told you that you had cirrhosis or active hepatitis?
              div
                input#radioDefault_183(name='Field183', type='hidden', value='')
                span
                  input#Field183_0.field.radio(name='Field183', type='radio', value='Yes', tabindex='121', checked='checked')
                  label.choice(for='Field183_0')
                    | Yes
                span
                  input#Field183_1.field.radio(name='Field183', type='radio', value='No', tabindex='122')
                  label.choice(for='Field183_1')
                    | No
                span
                  input#Field183_2.field.radio(name='Field183', type='radio', value='I don\'t know', tabindex='123')
                  label.choice(for='Field183_2')
                    | I don't know
                span
                  input#Field183_3.field.radio(name='Field183', type='radio', value='I don\'t want to answer this question', tabindex='124')
                  label.choice(for='Field183_3')
                    | I don't want to answer this question
          li#foli185.notranslate
            fieldset
              legend#title185.desc
                | Q52. Has a doctor, nurse, or other health professional EVER told you that you had a seizure disorder or epilepsy?
              //if lt IE 8
                label#title185.desc
                  | Q52. Has a doctor, nurse, or other health professional EVER told you that you had a seizure disorder or epilepsy?
              div
                input#radioDefault_185(name='Field185', type='hidden', value='')
                span
                  input#Field185_0.field.radio(name='Field185', type='radio', value='Yes', tabindex='125', checked='checked')
                  label.choice(for='Field185_0')
                    | Yes
                span
                  input#Field185_1.field.radio(name='Field185', type='radio', value='No', tabindex='126')
                  label.choice(for='Field185_1')
                    | No
                span
                  input#Field185_2.field.radio(name='Field185', type='radio', value='I don\'t know', tabindex='127')
                  label.choice(for='Field185_2')
                    | I don't know
                span
                  input#Field185_3.field.radio(name='Field185', type='radio', value='I don\'t want to answer this question', tabindex='128')
                  label.choice(for='Field185_3')
                    | I don't want to answer this question
          li#foli187.notranslate
            fieldset
              legend#title187.desc
                | Q53. Has a doctor, nurse, or other health professional EVER told you that you had sickle cell anemia?
              //if lt IE 8
                label#title187.desc
                  | Q53. Has a doctor, nurse, or other health professional EVER told you that you had sickle cell anemia?
              div
                input#radioDefault_187(name='Field187', type='hidden', value='')
                span
                  input#Field187_0.field.radio(name='Field187', type='radio', value='Yes', tabindex='129', checked='checked')
                  label.choice(for='Field187_0')
                    | Yes
                span
                  input#Field187_1.field.radio(name='Field187', type='radio', value='No', tabindex='130')
                  label.choice(for='Field187_1')
                    | No
                span
                  input#Field187_2.field.radio(name='Field187', type='radio', value='I don\'t know', tabindex='131')
                  label.choice(for='Field187_2')
                    | I don't know
                span
                  input#Field187_3.field.radio(name='Field187', type='radio', value='I don\'t want to answer this question', tabindex='132')
                  label.choice(for='Field187_3')
                    | I don't want to answer this question
          li#foli188.notranslate
            fieldset
              legend#title188.desc
                | Q54. Has a doctor, nurse, or other health professional EVER told you that you had anemia, sometimes called low blood or tired blood?
              //if lt IE 8
                label#title188.desc
                  | Q54. Has a doctor, nurse, or other health professional EVER told you that you had anemia, sometimes called low blood or tired blood?
              div
                input#radioDefault_188(name='Field188', type='hidden', value='')
                span
                  input#Field188_0.field.radio(name='Field188', type='radio', value='Yes', tabindex='133', checked='checked')
                  label.choice(for='Field188_0')
                    | Yes
                span
                  input#Field188_1.field.radio(name='Field188', type='radio', value='No', tabindex='134')
                  label.choice(for='Field188_1')
                    | No
                span
                  input#Field188_2.field.radio(name='Field188', type='radio', value='I don\'t know', tabindex='135')
                  label.choice(for='Field188_2')
                    | I don't know
                span
                  input#Field188_3.field.radio(name='Field188', type='radio', value='I don\'t want to answer this question', tabindex='136')
                  label.choice(for='Field188_3')
                    | I don't want to answer this question
          li#foli190.notranslate
            fieldset
              legend#title190.desc
                | Q55. Do you have severe acne?
              //if lt IE 8
                label#title190.desc
                  | Q55. Do you have severe acne?
              div
                input#radioDefault_190(name='Field190', type='hidden', value='')
                span
                  input#Field190_0.field.radio(name='Field190', type='radio', value='Yes', tabindex='137', checked='checked')
                  label.choice(for='Field190_0')
                    | Yes
                span
                  input#Field190_1.field.radio(name='Field190', type='radio', value='No', tabindex='138')
                  label.choice(for='Field190_1')
                    | No
                span
                  input#Field190_2.field.radio(name='Field190', type='radio', value='I don\'t know', tabindex='139')
                  label.choice(for='Field190_2')
                    | I don't know
                span
                  input#Field190_3.field.radio(name='Field190', type='radio', value='I don\'t want to answer this question', tabindex='140')
                  label.choice(for='Field190_3')
                    | I don't want to answer this question
          li#foli193.notranslate
            fieldset
              legend#title193.desc
                | Q56. Do you have coarse, dark hairs on your face?
              //if lt IE 8
                label#title193.desc
                  | Q56. Do you have coarse, dark hairs on your face?
              div
                input#radioDefault_193(name='Field193', type='hidden', value='')
                span
                  input#Field193_0.field.radio(name='Field193', type='radio', value='Yes', tabindex='141', checked='checked')
                  label.choice(for='Field193_0')
                    | Yes
                span
                  input#Field193_1.field.radio(name='Field193', type='radio', value='No', tabindex='142')
                  label.choice(for='Field193_1')
                    | No
                span
                  input#Field193_2.field.radio(name='Field193', type='radio', value='I don\'t know', tabindex='143')
                  label.choice(for='Field193_2')
                    | I don't know
                span
                  input#Field193_3.field.radio(name='Field193', type='radio', value='I don\'t want to answer this question', tabindex='144')
                  label.choice(for='Field193_3')
                    | I don't want to answer this question


    // this ends the 5th set of questions 05