header#header.info

  |{{questions.q4}}
  |{{questions.q4a}}
  |{{questions.q5}}
  |{{questions.q6}}
  |{{questions.q7}}
  |{{questions.q8}}
  |{{questions.q9}}
  |{{questions.q10}}
  |{{questions.q11}}
  |{{questions.q12}}
  |{{questions.q13}}

  h2 WhichMethod_02
        ul
          li
            label

                | Q4. When you are not using birth control, do you have regular monthly periods?
              div
                input(ng-model='questions.q4.answer', ng-change="saveAnswers()" type='text', tabindex='1')

                | Q4a. Do you have three or fewer periods per year?
              div
                input(ng-model='questions.q4a.answer', ng-change="saveAnswers()" type='text', tabindex='1')

                | Q5. When you are not using birth control, do you have very heavy periods?
              div
                input(ng-model='questions.q5.answer', ng-change="saveAnswers()" type='text', tabindex='1')

                | Q6. When you are not using birth control, do you have periods that last longer than 7 days?
              div
                input(ng-model='questions.q6.answer', ng-change="saveAnswers()" type='text', tabindex='1')
                
                | Q7. When you are not using birth control, do you have painful periods or bad cramps?
              div
                input(ng-model='questions.q7.answer', ng-change="saveAnswers()" type='text', tabindex='1')

                | Q8. When you are not using birth control, do you have breast tenderness during your period?
              div
                input(ng-model='questions.q8.answer', ng-change="saveAnswers()" type='text', tabindex='1')

                | Q9. When you are not using birth control, do you have depression or anxiety during your period?
              div
                input(ng-model='questions.q9.answer', ng-change="saveAnswers()" type='text', tabindex='1')

                | Q10. When you are not using birth control, do you have bloating or fluid retention during your period?
              div
                input(ng-model='questions.q10.answer', ng-change="saveAnswers()" type='text', tabindex='1')

                | Q11. When you are not using birth control, do you have bad headaches with your period?
              div
                input(ng-model='questions.q11.answer', ng-change="saveAnswers()" type='text', tabindex='1')

                | Q12. When you are not using birth control, do you have significant PMS (premenstrual syndrome)?
              div
                input(ng-model='questions.q12.answer', ng-change="saveAnswers()" type='text', tabindex='1')

                | Q13. How often do these symptoms cause you to miss work or school?
              div
                input(ng-model='questions.q13.answer', ng-change="saveAnswers()" type='text', tabindex='1')

//-   //this ends the second set of questions 02