header
  #logo
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
      // <img ng-src="assets/images/which_method_logo.png" alt=""/>
      //img(ng-src='assets/images/which_method_logo.png', alt='')
  #menu
    a.logout_btn_01( ng-click='logout()') Log out

//- header#header.info()

//-  div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px")
    method: {{key}} pos: {{value.p}} neg: {{value.n}}

#container
  h2 WhichMethod Section 6
  ul
    li#53(ng-show="currentQuestion == 'q53'")
      label
        | Q53. Do you take dietary supplements or prescription medications regularly?
      div(ng-repeat='option in questions.q53.options')
        input(type="radio" name='q53' ng-change="saveAnswers()" ng-model='questions.q53.selectedOption' ng-value="{{option}}")
        label {{option.name}}
      //input(type="button",ng-click="saveAnswers()",value="Skip")

    li#53a(ng-show="currentQuestion == 'q53a'")
      label
        | Q53a. Do you take St. John's wort?
      div(ng-repeat='option in questions.q53a.options')
        input(type="radio" name='q53a' ng-change="saveAnswers()" ng-model='questions.q53a.selectedOption' ng-value="{{option}}")
        label {{option.name}}
      //input(type="button",ng-click="saveAnswers()",value="Skip")

    li#53b(ng-show="currentQuestion == 'q53b'")
      label
        | Q53b. Do you take Rifampin, Rifadin or Rimactane?
      div(ng-repeat='option in questions.q53b.options')
        input(type="radio" name='q53b' ng-change="saveAnswers()" ng-model='questions.q53b.selectedOption' ng-value="{{option}}")
        label {{option.name}}
      //input(type="button",ng-click="saveAnswers()",value="Skip")

    li#53c(ng-show="currentQuestion == 'q53c'")
      label
        | Q53c. Do you take any of these medications for seizure disorders or epilepsy?
      div(ng-repeat='option in questions.q53c.options')
        input(type='checkbox' ng-checked="questions.q53c.selectedOptions.indexOf(option) != -1" ng-click="questions.q53c.toggleCheck(option)")
        label {{option.name}}
      input(type="submit", ng-disabled="age.$invalid" ng-click="saveAnswers()", value="Continue")

    li#53h(ng-show="currentQuestion == 'q53h'")
      label
        | Q53.h. Do you take Griseofulvin, Fulvicin or Grisactin?
      div(ng-repeat='option in questions.q53h.options')
        input(type="radio" name='q53h' ng-change="saveAnswers()" ng-model='questions.q53h.selectedOption' ng-value="{{option}}")
        label {{option.name}}
      //input(type="button",ng-click="saveAnswers()",value="Skip")

    //- This is now question #53d
    //- all questions above 53 - 53h on a single page

div(ng-include="'app/sections/rankhelp.html'")
