header#header.info()

  div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px")
    method: {{key}} pos: {{value.p}} neg: {{value.n}}

  h2 WhichMethod_04
  ul

      label
        | Q27. Would you be okay with regular, scheduled bleeding?
      div
        span
          input.field.radio(ng-model='questions.q27.answer' value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q27.answer' value='No', type='radio')
          // TODO: ??? ng-model='questions.q14.answer' value='0' type='radio'
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q27.answer'  value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q27.answer' value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question


      label
        | Q28. Would you be okay with unscheduled bleeding and/or spotting?
      div
        span
          input.field.checkbox(name='Field120', type='checkbox', value='Yes', tabindex='5')
          label.choice
            | Yes
        span
          input.field.checkbox(name='Field121', type='checkbox', value='No', tabindex='6')
          label.choice
            | No
        span
          input.field.checkbox(name='Field122', type='checkbox', value='I don\'t know', tabindex='7')
          label.choice
            | I don't know
        span
          input.field.checkbox(name='Field123', type='checkbox', value='I don\'t want to answer this question', tabindex='8')
          label.choice
            | I don't want to answer this question
          li#foli221.notranslate
            fieldset
              legend#title221.desc

      label
        | Q29. Would you be okay with no bleeding at all?
      div
        span
          input.field.radio(name='Field221', type='radio', value='Yes', tabindex='9', checked='checked')
          label.choice
            | Yes
        span
          input.field.radio(name='Field221', type='radio', value='No', tabindex='10')
          label.choice
            | No
        span
          input.field.radio(name='Field221', type='radio', value='I don\'t know', tabindex='11')
          label.choice
            | I don't know
        span
          input.field.radio(name='Field221', type='radio', value='I don\'t want to answer this question', tabindex='12')
          label.choice
            | I don't want to answer this question


      label
        | Q30. Do you need a birth control method which you can keep private?
      div
        span
          input.field.radio(name='Field222', type='radio', value='Yes', tabindex='13', checked='checked')
          label.choice
            | Yes
        span
          input.field.radio(name='Field222', type='radio', value='No', tabindex='14')
          label.choice
            | No


      label
        | Q30.a. Do you want to keep it private from your boyfriend/girlfriend/partner?
      div
        span
          input.field.radio(name='Field223', type='radio', value='Yes', tabindex='15', checked='checked')
          label.choice
            | Yes
        span
          input.field.radio(name='Field223', type='radio', value='No', tabindex='16')
          label.choice
            | No

      label
        | Q30.b. Do you want to keep it private from your family or your friends?
      div
        span
          input.field.radio(name='Field224', type='radio', value='Yes', tabindex='17', checked='checked')
          label.choice
            | Yes
        span
          input.field.radio(name='Field224', type='radio', value='No', tabindex='18')
          label.choice
            | No


      label
        | Q31. Would it be OK for you to use a birth control method (like condoms, spermicides, diaphragm or sponge) that you have to interrupt sexual activity to use?
      div
        span
          input.field.radio(name='Field225', type='radio', value='Yes', tabindex='19', checked='checked')
          label.choice
            | Yes
        span
          input.field.radio(name='Field225', type='radio', value='No', tabindex='20')
          label.choice
            | No

    // this is the end of the 4th section of questions 04
