header
  #logo
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
      // <img ng-src="assets/images/which_method_logo.png" alt=""/>
      //img(ng-src='assets/images/which_method_logo.png', alt='')
  #menu
    a.logout_btn_01( ng-click='logout()') Log out

//- can switch above it to this:
//- div(ng-include="'app/sections/header.html'")

//- div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px; margin 10px; padding:20px; font-size:12px; background: #eee") 
//-  method: {{key}} pos: {{value.p}} neg: {{value.n}}


#container
  .body.questionpages

  h3 
    span.en WhichMethod Section 1
    span.es WhichMethod Sección 1
  ul
    li#q1(ng-show="currentQuestion == 'q1'")
      label
        span.en Q1. How old are you?
        span.es Q1. Cuántos años tienes?
      form(name="age")
        input(ng-model='questions.q1.textInput' name="input" type='number' min='14', max='140' required)        
        span.error.en(ng-show="age.input.$error.min") You must at least be 14 years of age!
        span.error.es(ng-show="age.input.$error.min") Usted debe ser al menos 14 años de edad!
        span.error.en(ng-show="age.input.$error.max") This survey is not relevant for this age!
        span.error.es(ng-show="age.input.$error.max") Esta encuesta no es relevante para esta edad!
        span.error.en(ng-show="age.input.$error.number") Not valid number!
        span.error.es(ng-show="age.input.$error.number") No número válido!
        br
        input(type="submit", ng-disabled="age.$invalid" ng-click="saveAnswers()", value="Continue")


    li#q2(ng-show="currentQuestion == 'q2'")
      label
        | Q2. How much do you weigh?
      form(name="weight")
        input(ng-model='questions.q2.textInput' required type='number', tabindex='1')
        div(ng-repeat='option in questions.q2.options')
          input(type="radio" name='q2' ng-model="questions.q2.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}
        input(type="submit" ng-disabled="weight.$invalid" ng-click="saveAnswers()", value="Continue")


    li#q3(ng-show="currentQuestion == 'q3'")
        label
            | Q3. How often do you smoke cigarettes or cigars or use smokeless tobacco?
        div
          div(ng-repeat='option in questions.q3.options')
            input(type="radio" name='q3' ng-change="saveAnswers()" ng-model="questions.q3.selectedOption" ng-value="{{option}}")
            label.choice {{option.name}}
          //input(type="button",ng-click="saveAnswers()",value="Skip")



// all questions above on a single page; Q1-Q3

div(ng-include="'app/sections/rankhelp.html'")
//-     // end of first set of questions 01
