header
  #logo
    a(href="landing_01.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary(ng-click='logout()') Log out
  br
  br
#container-top
  h3 
    span.en WhichMethod Section 5 
    span.es WhichMethod Sección 5
    span.glyphicon.glyphicon-play(style='color:#986698') 
  br
  br
#container
  .body.questionpages
  br
  br
  ul
    li#28(ng-show="currentQuestion == 'q28'")
      label
        | Q28. Have you had a baby in the last 6 months?
      div(ng-repeat='option in questions.q28.options')
        input(type="radio" name='q28' ng-change="saveAnswers()" ng-model='questions.q28.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#28a(ng-show="currentQuestion == 'q28a'")
      label
        | Q28a. Are you breastfeeding your baby now?
      div(ng-repeat='option in questions.q28a.options')
        input(type="radio" name='q28a' ng-change="saveAnswers()" ng-model='questions.q28a.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#28b(ng-show="currentQuestion == 'q28b'")
      label
        | Q28b. How long since you gave birth?
      div(ng-repeat='option in questions.q28b.options')
        input(type="radio" name='q28b' ng-change="saveAnswers()" ng-model='questions.q28b.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#28c(ng-show="currentQuestion == 'q28c'")
      label
        | Q28c. How long since you gave birth?
      div(ng-repeat='option in questions.q28c.options')
        input(type="radio" name='q28c' ng-change="saveAnswers()" ng-model='questions.q28c.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#q29(ng-show="currentQuestion == 'q29'")
      label
        | Q29. Have you had surgery in the past three months?
      div(ng-repeat='option in questions.q29.options')
        input(type="radio" name='q29' ng-change="saveAnswers()" ng-model='questions.q29.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#q29a(ng-show="currentQuestion == 'q29a'")
      label
        | Q29a. Is it hard moving around because of the surgery?
      div(ng-repeat='option in questions.q29a.options')
        input(type="radio" name='q29a' ng-change="saveAnswers()" ng-model='questions.q29a.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#q30(ng-show="currentQuestion == 'q30'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q30. High blood pressure, also called hypertension
      div(ng-repeat='option in questions.q30.options')
        input(type="radio" name='q30' ng-change="saveAnswers()" ng-model='questions.q30.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#q30a(ng-show="currentQuestion == 'q30a'")
      label
        | Q30a. Are you taking medicine for high blood pressure now?
      div(ng-repeat='option in questions.q30a.options')
        input(type="radio" name='q30a' ng-change="saveAnswers()" ng-model='questions.q30a.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#q31(ng-show="currentQuestion == 'q31'")
      h4 Have you ever been told by a doctor or nurse that you have: 
      br
      label
        | Q31. Blood clots, also called clot in a vein or DVT
      div(ng-repeat='option in questions.q31.options')
        input(type="radio" name='q31' ng-change="saveAnswers()" ng-model='questions.q31.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#q32(ng-show="currentQuestion == 'q32'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q32. Pulmonary embolus, also called a clot in the lung
      div(ng-repeat='option in questions.q32.options')
        input(type="radio" name='q32' ng-change="saveAnswers()" ng-model='questions.q32.selectedOption' ng-value="{{option}}")
        label {{option.name}}


    li#q33(ng-show="currentQuestion == 'q33'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q33. A stroke
      div(ng-repeat='option in questions.q33.options')
        input(type="radio" name='q33' ng-change="saveAnswers()" ng-model='questions.q33.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#q34(ng-show="currentQuestion == 'q34'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q34. A blood clotting disorder
      div(ng-repeat='option in questions.q34.options')
        input(type="radio" name='q34' ng-change="saveAnswers()" ng-model='questions.q34.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#q35(ng-show="currentQuestion == 'q35'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q35. High Cholesterol
      div(ng-repeat='option in questions.q35.options')
        input(type="radio" name='q35' ng-change="saveAnswers()" ng-model='questions.q35.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#36(ng-show="currentQuestion == 'q36'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q36. A heart attack, also called a myocardial infarction, heart disease or vascular disease
      div(ng-repeat='option in questions.q36.options')
        input(type="radio" name='q36' ng-change="saveAnswers()" ng-model='questions.q36.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#37(ng-show="currentQuestion == 'q37'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q37. Disease of heart valves
      div(ng-repeat='option in questions.q37.options')
        input(type="radio" name='q37' ng-change="saveAnswers()" ng-model='questions.q37.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#38(ng-show="currentQuestion == 'q38'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q38. Sickle cell anemia
      div(ng-repeat='option in questions.q38.options')
        input(type="radio" name='q38' ng-change="saveAnswers()" ng-model='questions.q38.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#39(ng-show="currentQuestion == 'q39'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q39. Anemia, sometimes called low blood or tired blood
      div(ng-repeat='option in questions.q39.options')
        input(type="radio" name='q39' ng-change="saveAnswers()" ng-model='questions.q39.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#40(ng-show="currentQuestion == 'q40'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q40. Cancer or a malignancy of any kind
      div(ng-repeat='option in questions.q40.options')
        input(type="radio" name='q40' ng-change="saveAnswers()" ng-model='questions.q40.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#40a(ng-show="currentQuestion == 'q40a'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q40a. Breast cancer, liver tumors or liver cancer
      div(ng-repeat='option in questions.q40a.options')
        input(type="radio" name='q40a' ng-change="saveAnswers()" ng-model='questions.q40a.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#40b(ng-show="currentQuestion == 'q40b'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q.40b. Endometrial cancer, ovarian cancer, or cervical cancer
      div(ng-repeat='option in questions.q40b.options')
        input(type="radio" name='q40b' ng-change="saveAnswers()" ng-model='questions.q40b.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#41(ng-show="currentQuestion == 'q41'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q41. A molar pregnancy
      div(ng-repeat='option in questions.q41.options')
        input(type="radio" name='q41' ng-change="saveAnswers()" ng-model='questions.q41.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#42(ng-show="currentQuestion == 'q42'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q42. Pelvic tuberculosis
      div(ng-repeat='option in questions.q42.options')
        input(type="radio" name='q42' ng-change="saveAnswers()" ng-model='questions.q42.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#43(ng-show="currentQuestion == 'q43'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q43. Toxic shock syndrome (TSS)
      div(ng-repeat='option in questions.q43.options')
        input(type="radio" name='q43' ng-change="saveAnswers()" ng-model='questions.q43.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#44(ng-show="currentQuestion == 'q44'")
      h4 In the past 3 months has a doctor, nurse, or other health professional told you that you had:
      br
      label
        | Q44. Pelvic Inflammatory Disease (PID)?
      div(ng-repeat='option in questions.q44.options')
        input(type="radio" name='q44' ng-change="saveAnswers()" ng-model='questions.q44.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#45(ng-show="currentQuestion == 'q45'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q45. Endometriosis
      div(ng-repeat='option in questions.q45.options')
        input(type="radio" name='q45' ng-change="saveAnswers()" ng-model='questions.q45.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#46(ng-show="currentQuestion == 'q46'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q46. Diabetes
      div(ng-repeat='option in questions.q46.options')
        input(type="radio" name='q46' ng-change="saveAnswers()" ng-model='questions.q46.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#46a(ng-show="currentQuestion == 'q46a'")
      label
        | Q46a. Have you had diabetes for more than 20 years?
      div(ng-repeat='option in questions.q46a.options')
        input(type="radio" name='q46a' ng-change="saveAnswers()" ng-model='questions.q46a.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#46b(ng-show="currentQuestion == 'q46b'")
      label
        | Q46b. Do you have problems with your kidneys, eyes or nerves because of diabetes?
      div(ng-repeat='option in questions.q46b.options')
        input(type="radio" name='q46b' ng-change="saveAnswers()" ng-model='questions.q46b.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#47(ng-show="currentQuestion == 'q47'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q47. Migraine Headaches
      div(ng-repeat='option in questions.q47.options')
        input(type="radio" name='q47' ng-change="saveAnswers()" ng-model='questions.q47.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#47a(ng-show="currentQuestion == 'q47a'")
      label
        | Q47a. Do you have migraine headaches with an aura? (An aura is seeing spots or wavy lines before or during the migraine headache.)
      div(ng-repeat='option in questions.q47a.options')
        input(type="radio" name='q47a' ng-change="saveAnswers()" ng-model='questions.q47a.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#48(ng-show="currentQuestion == 'q48'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q48. AIDS
      div(ng-repeat='option in questions.q48.options')
        input(type="radio" name='q48' ng-change="saveAnswers()" ng-model='questions.q48.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#48a(ng-show="currentQuestion == 'q48a'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q48a. Liver or Gallbladder problems
      div(ng-repeat='option in questions.q48a.options')
        input(type="radio" name='q48a' ng-change="saveAnswers()" ng-model='questions.q48a.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#48b(ng-show="currentQuestion == 'q48b'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q48b. Gallbladder disease or Gallstones
      div(ng-repeat='option in questions.q48b.options')
        input(type="radio" name='q48b' ng-change="saveAnswers()" ng-model='questions.q48b.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#49(ng-show="currentQuestion == 'q49'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q49. Cirrhosis or Active Hepatitis
      div(ng-repeat='option in questions.q49.options')
        input(type="radio" name='q49' ng-change="saveAnswers()" ng-model='questions.q49.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#50(ng-show="currentQuestion == 'q50'")
      h4 Have you ever been told by a doctor or nurse that you have:
      br
      label
        | Q50. A seizure disorder or epilepsy
      div(ng-repeat='option in questions.q50.options')
        input(type="radio" name='q50' ng-change="saveAnswers()" ng-model='questions.q50.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#51(ng-show="currentQuestion == 'q51'")
      label
        | Q51. Do you have severe acne?
      div(ng-repeat='option in questions.q51.options')
        input(type="radio" name='q51' ng-change="saveAnswers()" ng-model='questions.q51.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#52(ng-show="currentQuestion == 'q52'")
      label
        | Q52. Do you have coarse, dark hairs on your face?
      div(ng-repeat='option in questions.q52.options')
        input(type="radio" name='q52' ng-change="saveAnswers()" ng-model='questions.q52.selectedOption' ng-value="{{option}}")
        label {{option.name}}

div(ng-include="'app/sections/rankhelp.html'")
