header
  #logo
    a(href="landing_01.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary(ng-click='logout()')
        span(lang='en') Log out
        span(lang='es') Salir
  br
  br
#container-top
  h3 
    span(ng-show="language=='en'") WhichMethod Section 4 
    span(ng-show="language=='es'") WhichMethod Sección 4
    span.glyphicon.glyphicon-play(style='color:#986698')
  br
  br
#container
  .body.questionpages
  br
  br
  ul
    li#q23(ng-show="currentQuestion == 'q23'")
      label
        | Q23. 
        span(ng-show="language=='en'") Would you be okay with regular, scheduled bleeding?
        span(ng-show="language=='es'") ¿Estaría usted de acuerdo con sangrar regularmente, con una fecha prevista?
      div(ng-repeat='option in questions.q23.options')
        input(type="radio" name='q23' ng-change="saveAnswers()" ng-model='questions.q23.selectedOption' ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    li#q24(ng-show="currentQuestion == 'q24'")
      label
        | Q24. 
        span(ng-show="language=='en'") Would you be okay with unscheduled bleeding and/or spotting?
        span(ng-show="language=='es'") ¿Estaría usted de acuerdo con sangrar y/o manchar sin fecha prevista?
      div(ng-repeat='option in questions.q24.options')
        input(type="radio" name='q24' ng-change="saveAnswers()" ng-model="questions.q24.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    li#q25(ng-show="currentQuestion == 'q25'")
      label
        | Q25. 
        span(ng-show="language=='en'") Would you be okay with no bleeding at all?
        span(ng-show="language=='es'") ¿Estaría usted de acuerdo con no sangrar nunca?
      div(ng-repeat='option in questions.q25.options')
        input(type="radio" name='q25' ng-change="saveAnswers()" ng-model="questions.q25.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    li#q26(ng-show="currentQuestion == 'q26'")
      label
        | Q26. 
        span(ng-show="language=='en'") Do you need a birth control method which you can keep private?
        span(ng-show="language=='es'") ¿Necesita usted un método anticonceptivo que pueda mantener en privado?
      div(ng-repeat='option in questions.q26.options')
        input(type="radio" name='q26' ng-change="saveAnswers()" ng-model="questions.q26.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    li#q26a(ng-show="currentQuestion == 'q26a'")
      label
        | Q26a. 
        span(ng-show="language=='en'") Do you want to keep it private from your boyfriend/girlfriend/partner?
        span(ng-show="language=='es'") ¿Quiere mantenerlo en privado de su novio/ novia/ compañero(a)?
      div(ng-repeat='option in questions.q26a.options')
        input(type="radio" name='q26a' ng-change="saveAnswers()" ng-model="questions.q26a.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    li#q26b(ng-show="currentQuestion == 'q26b'")
      label
        | Q26b. 
        span(ng-show="language=='en'") Do you want to keep it private from your family or your friends?
        span(ng-show="language=='es'") ¿Quiere mantenerlo en privado de su familia o sus amigos?
      div(ng-repeat='option in questions.q26b.options')
        input(type="radio" name='q26b' ng-change="saveAnswers()" ng-model="questions.q26b.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    li#q27(ng-show="currentQuestion == 'q27'")
      label
        | Q27. 
        span(ng-show="language=='en'") Would it be OK for you to use a birth control method (like condoms, spermicides, diaphragm or sponge) that you have to interrupt sexual activity to use?
        span(ng-show="language=='es'") ¿Estaría usted de acuerdo en usar un método anticonceptivo (como condones, espermicidas diafragma o esponja) en el cual tenga que interrumpir la actividad sexual para usarlo?
      div(ng-repeat='option in questions.q27.options')
        input(type="radio" name='q27' ng-change="saveAnswers()" ng-model="questions.q27.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

// div(ng-include="'app/sections/rankhelp.html'")

