header
  #logo
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
      // <img ng-src="assets/images/which_method_logo.png" alt=""/>
      //img(ng-src='assets/images/which_method_logo.png', alt='')
  #menu
    a.logout_btn_01( ng-click='logout()') Log out

//- can switch above it to this:
//- div(ng-include="'app/sections/header.html'")

//- div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px; margin 10px; padding:20px; font-size:12px; background: #eee") 
//-  method: {{key}} pos: {{value.p}} neg: {{value.n}}


#container
  .body.questionpages

  h3 WhichMethod_section_01
  ul
    li#q1(ng-show="currentQuestion == 'q1'")
      label
        | Q1. How old are you?
      div

        input(ng-model='questions.q1.textInput' type='text')
        div(ng-repeat='option in questions.q1.options')
          input(type="radio" name='q1' ng-model="questions.q1.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

    li#q2(ng-show="currentQuestion == 'q2'")
      label
        | Q2. How much do you weigh?
      div
        input(ng-model='questions.q2.textInput' type='text', tabindex='1')
        div(ng-repeat='option in questions.q2.options')
          input(type="radio" name='q2' ng-model="questions.q2.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

    li#q3(ng-show="currentQuestion == 'q3'")
        label
            | Q3. How often do you smoke cigarettes or cigars or use smokeless tobacco?
        div
          div(ng-repeat='option in questions.q3.options')
            input(type="radio" name='q3' ng-model="questions.q3.selectedOption" ng-value="{{option}}")
            label.choice {{option.name}}


    input(type="button", ng-click="saveAnswers()", value="Continue")

// all questions above on a single page; Q1-Q3

div(ng-include="'app/sections/rankhelp.html'")
//-     // end of first set of questions 01
