div(ng-include="'app/sections/header.html'")

  //-  div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px")
    method: {{key}} pos: {{value.p}} neg: {{value.n}}


#container
  h3 WhichMethod_section_02
  ul
    li#q4(ng-show="currentQuestion == 'q4'")
      label
        | Q4. When you are not using birth control, do you have regular monthly periods?
      div
        span
          input.field.radio(ng-model='questions.q4.answer' value='1' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q4.answer' value='0' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q4.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q4.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question



    li#q4a(ng-show="currentQuestion == 'q4a'")
      label
        | Q4a. Do you have three or fewer periods per year?
      div
        span
          input.field.radio(ng-model='questions.q4a.answer' value='Yes' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q4a.answer' value='No' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q4a.answer' value='I don\'t know' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q4a.answer' value='I don\'t want to answer' type='radio')
          label.choice
            | I don't want to answer


    
    li#q5(ng-show="currentQuestion == 'q5'")
      label
        | Q5. When you are not using birth control, do you have very heavy periods?
      div
        span
          input.field.radio(ng-model='questions.q5.answer' value='1' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q5.answer' value='0' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q5.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q5.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question



    li#q6(ng-show="currentQuestion == 'q6'")
      label
        | Q6. When you are not using birth control, do you have periods that last longer than 7 days?
      div
      span
          input.field.radio(ng-model='questions.q6.answer' value='1' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q6.answer' value='0' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q6.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q6.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question



    li#q7(ng-show="currentQuestion == 'q7'")
      label
        | Q7. When you are not using birth control, do you have painful periods or bad cramps?
      div
        //- input( ng-model='questions.q7.answer' tabindex='1' type='radio')
        span
          input.field.radio(ng-model='questions.q7.answer' value='1' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q7.answer' value='0' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q7.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q7.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question



    li#q8(ng-show="currentQuestion == 'q8'")
      label
        | Q8. When you are not using birth control, do you have breast tenderness during your period?
      div
        //- input( ng-model='questions.q4.answer' tabindex='1' type='radio')
        span
          input.field.radio(ng-model='questions.q8.answer' value='1' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q8.answer' value='0' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q8.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q8.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question



    li#q9(ng-show="currentQuestion == 'q9'")
      label
        | Q9. When you are not using birth control, do you have depression or anxiety during your period?
      div
        //- input( ng-model='questions.q4.answer' tabindex='1' type='radio')
        span
          input.field.radio(ng-model='questions.q9.answer' value='1' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q9.answer' value='0' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q9.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q9.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question


    li#q10(ng-show="currentQuestion == 'q10'")
      label
        | Q10. When you are not using birth control, do you have bloating or fluid retention during your period?
      div
        //- input( ng-model='questions.q4.answer' tabindex='1' type='radio')
        span
          input.field.radio(ng-model='questions.q10.answer' value='1' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q10.answer' value='0' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q10.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q10.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question


    li#q11(ng-show="currentQuestion == 'q11'")
      label
        | Q11. When you are not using birth control, do you have bad headaches with your period?
      div
        //- input( ng-model='questions.q4.answer' tabindex='1' type='radio')
        span
          input.field.radio(ng-model='questions.q11.answer' value='1' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q11.answer' value='2' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q11.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q11.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question


    li#q12(ng-show="currentQuestion == 'q12'")
      label
        | Q12. When you are not using birth control, do you have significant PMS (premenstrual syndrome)?
      div
        //- input( ng-model='questions.q4.answer' tabindex='1' type='radio')
        span
          input.field.radio(ng-model='questions.q12.answer' value='1' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q12.answer' value='2' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q12.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q12.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question


    li#q13(ng-show="currentQuestion == 'q13'")
      label
        | Q13. How often do these symptoms cause you to miss work or school?
      div
        //- input( ng-model='questions.q4.answer' tabindex='1' type='radio')
        span
          input.field.radio(ng-model='questions.q13.answer' value='1' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q13.answer' value='2' type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q13.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q13.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question

    input(type="submit", ng-click="saveAnswers()", value="Continue")

//-   //this ends the second set of questions 02
div(ng-include="'app/sections/rankhelp.html'")

