header#header.info()

//-  div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px")
    method: {{key}} pos: {{value.p}} neg: {{value.n}}


#container
  h3 WhichMethod_section_02
  ul
     li#q4(ng-show="currentQuestion == 'q4'")
      label
        | Q4. When you are not using birth control, do you have regular monthly periods?
      div
        div(ng-repeat='option in questions.q4.options')
          input(type="radio" name='q4' ng-model="questions.q4.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q4a(ng-show="currentQuestion == 'q4a'")
      label
        | Q4a. Do you have three or fewer periods per year?
      div(ng-repeat='option in questions.q4a.options')
        input(type="radio" name='q4a' ng-model="questions.q4a.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}
    
    li#q5(ng-show="currentQuestion == 'q5'")
      label
        | Q5. When you are not using birth control, do you have very heavy periods?
      div(ng-repeat='option in questions.q5.options')
        input(type="radio" name='q5' ng-model="questions.q5.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

    li#q6(ng-show="currentQuestion == 'q6'")
      label
        | Q6. When you are not using birth control, do you have periods that last longer than 7 days?
      div(ng-repeat='option in questions.q6.options')
        input(type="radio" name='q6' ng-model="questions.q6.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

    li#q7(ng-show="currentQuestion == 'q7'")
      label
        | Q7. When you are not using birth control, do you have painful periods or bad cramps?
      div(ng-repeat='option in questions.q7.options')
        input(type="radio" name='q7' ng-model="questions.q7.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

    li#q8(ng-show="currentQuestion == 'q8'")
      label
        | Q8. When you are not using birth control, do you have breast tenderness during your period?
      div(ng-repeat='option in questions.q8.options')
        input(type="radio" name='q8' ng-model="questions.q8.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

    li#q9(ng-show="currentQuestion == 'q9'")
      label
        | Q9. When you are not using birth control, do you have depression or anxiety during your period?
      div(ng-repeat='option in questions.q9.options')
        input(type="radio" name='q9' ng-model="questions.q9.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

    li#q10(ng-show="currentQuestion == 'q10'")
      label
        | Q10. When you are not using birth control, do you have bloating or fluid retention during your period?
      div(ng-repeat='option in questions.q10.options')
        input(type="radio" name='q10' ng-model="questions.q10.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

    li#q11(ng-show="currentQuestion == 'q11'")
      label
        | Q11. When you are not using birth control, do you have bad headaches with your period?
      div(ng-repeat='option in questions.q11.options')
        input(type="radio" name='q11' ng-model="questions.q11.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

    li#q12(ng-show="currentQuestion == 'q12'")
      label
        | Q12. When you are not using birth control, do you have significant PMS (premenstrual syndrome)?
      div(ng-repeat='option in questions.q12.options')
        input(type="radio" name='q12' ng-model="questions.q12.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

    li#q13(ng-show="currentQuestion == 'q13'")
      label
        | Q13. How often do these symptoms cause you to miss work or school?
      div(ng-repeat='option in questions.q13.options')
        input(type="radio" name='q13' ng-model="questions.q13.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

    input(type="submit", ng-click="saveAnswers()", value="Continue")

//-   //this ends the second set of questions 02

