header#header.info()

  |{{questions.q1}}
  |{{questions.q2}}
  |{{questions.q3}}


  h2 WhichMethod_01    
  ul
    li
      label
        | Q1. How old are you?
      div
        input(ng-model='questions.q1.answer', ng-change="saveAnswers()" type='text', tabindex='1')
    
        | Q2. How much do you weigh?
      div
        input(ng-model='questions.q2.answer', ng-change="saveAnswers()" type='text', tabindex='1')

        | Q3. How often do you smoke cigarettes or cigars or use smokeless tobacco?
      div
        input(ng-model='questions.q3.answer', ng-change="saveAnswers()" type='text', tabindex='1')

//-     // end of first set of questions 01