header
  #logo
    .col-xs-6  
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
    .col-xs-6
    a.btn.btn-primary(ng-click='logout()') 
      span(lang='en') Log out
      span(lang='es') Salir
  br
  br
#container-top
  h3 
    span(ng-show="language=='en'") WhichMethod Section 3 
    span(ng-show="language=='es'") WhichMethod Sección 3
    span.glyphicon.glyphicon-play(style='color:#986698')
  br
  br
#container
  .body.questionpages
  br
  br
  ul
     #q14(ng-show="currentQuestion == 'q14'")
      br
      span.glyphicon.glyphicon-refresh(lang='en', style='color:#FF5E5E') please rotate device
      span.glyphicon.glyphicon-refresh(lang='es', style='color:#FF5E5E') pro favor gire dispositivo
      br
      br
      label
        | Q14.
        span(lang='en') How would you describe your current sexual relationship (By sex, I mean vaginal sex)? Would you say that:
        span(lang='es') ¿Cómo describiría su actual relación sexual (Sexo, se refiere a sexo vaginal)? ¿Diría usted que:
        
      div(ng-repeat='option in questions.q14.options')
        input(type="radio" name='q14' ng-change="saveAnswers()" ng-model="questions.q14.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

     #q15(ng-show="currentQuestion == 'q15'")
      label
        | Q15. 
        span(lang='en') During the last 12 months how many men, if any, have you had sexual intercourse with? Please count every male sexual partner, even those you had sex with only once.
        span(lang='es') ¿En los últimos 12 meses, con cuántos hombres, si es el caso, ha tenido usted relaciones sexuales?  Por favor cuente cada compañero sexual  que haya tenido así solo haya ocurrido una vez.
      form(name="mens")
        input(ng-model='questions.q15.textInput' type='number' required)
        div(ng-repeat='option in questions.q15.options')
          input(type="radio" name='q15'  ng-model="questions.q15.selectedOption" ng-value="{{option}}")
        br
        br
        br
        input(lang='en',type="submit" ng-disabled="weight.$invalid" ng-click="saveAnswers()", value="Continue")
        input(lang='es',type="submit" ng-disabled="weight.$invalid" ng-click="saveAnswers()", value="Continuar")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

     #q16(ng-show="currentQuestion == 'q16'")
        label
          | Q16. 
          span(lang='en') Have you ever had an unplanned pregnancy?
          span(lang='es') ¿Ha tenido alguna vez un embarazo no planeado?
        div(ng-repeat='option in questions.q16.options')
          input(type="radio" name='q16' ng-change="saveAnswers()" ng-model="questions.q16.selectedOption" ng-value="{{option}}")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

     #q16a(ng-show="currentQuestion == 'q16a'")
        label
          | Q16a. 
          span(lang='en') How many unplanned pregnancies have you had?
          span(lang='es') ¿Cuántos embarazos no planeados ha tenido usted?
        form(name="unplanned")
          input(ng-model='questions.q16a.textInput' type='number' required)
          div(ng-repeat='option in questions.q16a.options')
            input(type="radio" name='q16a' ng-model="questions.q16a.selectedOption" ng-value="{{option}}")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}
          br
          br
          br
          input(lang='en',type="submit" ng-disabled="weight.$invalid" ng-click="saveAnswers()", value="Continue")
          input(lang='es',type="submit" ng-disabled="weight.$invalid" ng-click="saveAnswers()", value="Continuar")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

     #q16b(ng-show="currentQuestion == 'q16b'")
        label
          | Q16b. 
          span(lang='en') When you had an unplanned pregnancy or pregnancies were you using any method of birth control or doing anything to prevent getting pregnant?
          span(lang='es') ¿Cuándo usted tuvo un embarazo o embarazos no planeados, estaba usando algún método anticonceptivo o haciendo algo para prevenir el embarazo?
        div(ng-repeat='option in questions.q16b.options')
          input(type="radio" name='q16b' ng-change="saveAnswers()" ng-model="questions.q16b.selectedOption" ng-value="{{option}}")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

     #q16bi(ng-show="currentQuestion == 'q16bi'")
        label
          | Q16bi. 
          span(lang='en') When you had an unplanned pregnancy or pregnancies, what method of birth control were you using?
          span(lang='es') ¿Cuándo usted tuvo un embarazo o embarazos no planeados, que método anticonceptivo estaba usted usando?
        div(ng-repeat='option in questions.q16bi.options')
          input(type='checkbox'  ng-checked="questions.q16bi.selectedOptions.indexOf(option) != -1" ng-click="questions.q16bi.toggleCheck(option)")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

          div(ng-if="questions.q16bi.selectedOptions.indexOf(option) != -1" style="padding-left:10px")
            span(lang='en') Which unplanned pregnancy was this (mark all that apply)?
            span(lang='es') Que embarazo no planeado fue este (marque todas las que correspondan)?
            br
            span(ng-repeat="n in range( questions.q16a.answer ) track by $index" )
              span(lang='en') pregnancy {{$index+1}} &nbsp;
              span(lang='es') embarazo {{$index+1}} &nbsp;
              input(type='checkbox'  ng-checked="" ng-click="questions.q16bi.togglePregnancy(option,$index+1)" ) 
              &nbsp; &nbsp;
        br
        br
        br
        input(lang='en',type="button",ng-click="saveAnswers()",value="Continue")
        input(lang='es',type="button",ng-click="saveAnswers()",value="Continuar")

     #q17(ng-show="currentQuestion == 'q17'")
        label
          | Q17. 
          span(lang='en') What birth control methods are you interested in using now? Please choose ALL the methods you are interested in using. If you are not interested in any of these methods, go to the next screen.
          span(lang='es') ¿Qué métodos anticonceptivos está usted interesada en usar ahora? Por favor escoja TODOS los métodos que usted está interesada en usar. Si usted no está interesada en ninguno de estos métodos, valla a la siguiente pantalla.
        div(ng-repeat='option in questions.q17.options')
          input(type='checkbox' ng-checked="questions.q17.selectedOptions.indexOf(option) != -1" ng-click="questions.q17.toggleCheck(option)")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}
        br
        br
        br
        input(lang='en',type="button",ng-click="saveAnswers()",value="Continue")
        input(lang='es',type="button",ng-click="saveAnswers()",value="Continuar")

     #q18(ng-show="currentQuestion == 'q18'")
        label
          | Q18. 
          span(lang='en') Have you EVER used any method of birth control?
          span(lang='es') ¿Alguna vez ha usado algún método anticonceptivo?
        div(ng-repeat='option in questions.q18.options')
          input(type="radio" name='q18' ng-change="saveAnswers()" ng-model="questions.q18.selectedOption" ng-value="{{option}}")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

     #q18a(ng-show="currentQuestion == 'q18a'")
        label
          | Q18a. 
          span(lang='en') Are you using birth control now?
          span(lang='es') ¿Está usted usando algún método anticonceptivo ahora?
        div(ng-repeat='option in questions.q18a.options')
          input(type="radio" name='q18a' ng-change="saveAnswers()" ng-model="questions.q18a.selectedOption" ng-value="{{option}}")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

     #q18ai(ng-show="currentQuestion == 'q18ai'")
        label
          | Q18ai. 
          span(lang='en') What birth control methods are you using now? Please choose ALL the methods you are using now. If you are not using any of these methods, go to the next screen.
          span(lang='es') ¿Qué método anticonceptivo está usted usando ahora? Por favor escoja TODOS los métodos que usted está usando ahora. Si usted no está usando ninguno de estos métodos, valla a la siguiente pantalla.
        div(ng-repeat='option in questions.q18ai.options')
          input(type='checkbox' ng-checked="questions.q18ai.selectedOptions.indexOf(option) != -1" ng-click="questions.q18ai.toggleCheck(option)")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}
        br
        br
        br
        input(lang='en',type="button",ng-click="saveAnswers()",value="Continue")
        input(lang='es',type="button",ng-click="saveAnswers()",value="Continuar")

     #q19(ng-show="currentQuestion == 'q19'")
        label
          | Q19. 
          span(lang='en') Have you ever used a birth control method that you didn't like, that didn't work for you, or that you had other problems with?
          span(lang='es') ¿Ha usado alguna vez un método anticonceptivo que no le gusto, que no le funciono o que le presento otros problemas?
        div(ng-repeat='option in questions.q19.options')
          input(type="radio" name='q19' ng-change="saveAnswers()" ng-model="questions.q19.selectedOption" ng-value="{{option}}")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

     #q19a(ng-show="currentQuestion == 'q19a'")
        label
          | Q19a. 
          span(lang='en') Which methods did you have a problem with? Please choose ALL the methods you had a problem with.
          span(lang='es') ¿Con cuales métodos tuvo usted problemas? Por favor escoja TODOS los métodos que usted tuvo problema.
        div(ng-repeat='option in questions.q19a.options')
          input(type='checkbox' ng-checked="questions.q19a.selectedOptions.indexOf(option) != -1" ng-click="questions.q19a.toggleCheck(option)")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}
        br
        br
        br
        input(lang='en',type="button",ng-click="saveAnswers()",value="Continue")
        input(lang='es',type="button",ng-click="saveAnswers()",value="Continuar")

     #q19ai(ng-show="currentQuestion == 'q19ai'")
        label
          | Q19ai. 
          span(lang='en') What problems did you have while using this method?
          span(lang='es') ¿Qué problemas tuviste durante el uso de este método? 
          span(lang='en').highlightMyMethod(ng-show="questions.q19ai.curBcProbName()") {{questions.q19ai.curBcProbName('en')}}
          span(lang='es').highlightMyMethod(ng-show="questions.q19ai.curBcProbName()") {{questions.q19ai.curBcProbName('es')}}
        
        div(ng-repeat='option in questions.q19ai.options')
          input(type='checkbox' ng-checked="questions.q19ai.selectedOptions.indexOf(option) != -1" ng-click="questions.q19ai.toggleCheck(option)")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}
        br
        br
        br
        input(lang='en',type="button",ng-click="saveAnswers()",value="Continue")
        input(lang='es',type="button",ng-click="saveAnswers()",value="Continuar")

     #q20(ng-show="currentQuestion == 'q20'")
        br
        span.glyphicon.glyphicon-refresh(lang='en', style='color:#FF5E5E') please rotate device
        span.glyphicon.glyphicon-refresh(lang='es', style='color:#FF5E5E') pro favor gire dispositivo
        br
        br
        label
          | Q20. 
          span(lang='en') How soon do you want to get pregnant? In...
          span(lang='es') ¿En cuánto tiempo quiere usted salir embarazada?
        div(ng-repeat='option in questions.q20.options')
          input(type="radio" name='q20' ng-change="saveAnswers()" ng-model="questions.q20.selectedOption" ng-value="{{option}}")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

     #q21(ng-show="currentQuestion == 'q21'")
        br
        span.glyphicon.glyphicon-refresh(lang='en', style='color:#FF5E5E') please rotate device
        span.glyphicon.glyphicon-refresh(lang='es', style='color:#FF5E5E') pro favor gire dispositivo
        br
        br
        label
          | Q21. 
          span(lang='en') What is most important to you when choosing a birth control method? (Select 3)
          span(lang='es') ¿Qué es lo más importante para usted a la hora de escoger un método anticonceptivo? (Seleccione tres)
        div(ng-repeat='option in questions.q21.options')
          input(type='checkbox' ng-checked="questions.q21.selectedOptions.indexOf(option) != -1" ng-click="questions.q21.toggleCheck(option)")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}
        br
        br
        span.error(lang='en',ng-show="questions.q21.selectedOptions.length < 3") *Please Select 3 Options
        span.error(lang='es',ng-show="questions.q21.selectedOptions.length < 3") *Seleccione tres
        br
        input(lang='en',type="button", ng-disabled="questions.q21.selectedOptions.length < 3 && questions.q21.selectedOptions[0].value != 777" ng-click="saveAnswers()",value="Continue")
        input(lang='es',type="button", ng-disabled="questions.q21.selectedOptions.length < 3 && questions.q21.selectedOptions[0].value != 777" ng-click="saveAnswers()",value="Continuar")

      #q22(ng-show="currentQuestion == 'q22'")
        label
          | Q22. 
          span(lang='en') How often do you want to actively do something for your birth control? You may choose more than one answer.
          span(lang='es') ¿Con qué frecuencia quiere usted tomar acción sobre su método?
        div(ng-repeat='option in questions.q22.options')
          input(type='checkbox' ng-checked="questions.q22.selectedOptions.indexOf(option) != -1" ng-click="questions.q22.toggleCheck(option)")
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}
        br
        br
        br
        input(lang='en',type="button",ng-click="saveAnswers()",value="Continue")
        input(lang='es',type="button",ng-click="saveAnswers()",value="Continuar")
    

// div(ng-include="'app/sections/rankhelp.html'")
