header#header.info()

//- div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px")
    method: {{key}} pos: {{value.p}} neg: {{value.n}}
    

  #container  
  h3 WhichMethod_03
  ul
     li#q14(ng-show="currentQuestion == 'q14'")
      label
        | Q14. How would you describe your current sexual relationship? Would you say that...
      div
        span
          input.field.radio(ng-model='questions.q14.answer' value='0' type='radio')
          label.choice
            | your partner and you only have sex with each other
        span
          input.field.radio(ng-model='questions.q14.answer' value='1' type='radio')
          label.choice
            | your partner or you have sex with other people as well
        span
          input.field.radio(ng-model='questions.q14.answer' value='2' type='radio')
          label.choice
            | you are not sure about your partner's sexual activity outside your relationship
        span
          input.field.radio(ng-model='questions.q14.answer' value='3' type='radio')
          label.choice
            | you currently are not having sex
        span
          input.field.radio(ng-model='questions.q14.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q14.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question

     li#q15(ng-show="currentQuestion == 'q15'")
      label
        | Q15. During the last 12 months how many men, if any, have you had sexual intercourse with? Please count every male sexual partner, even those you had sex with only once. 
      div
        span
          input.field.radio(ng-model='questions.q15.answer' type='text')
          label.choice
            | Type answer in number keypad.
        span
          input.field.radio(ng-model='questions.q15.answer' value='999' type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q15.answer' value='777' type='radio')
          label.choice
            | I don't want to answer this question

     li#q16(ng-show="currentQuestion == 'q16'")
        label
          | Q16. Have you ever had an unplanned pregnancy?
        div
          div(ng-repeat='option in questions.q16.options')
            input(type="radio" ng-model="questions.q16.selectedOption" ng-value="{{option}}")
            label {{option.name}}

     li#q16a(ng-show="currentQuestion == 'q16a'")
          label
            | Q16a. How many unplanned pregnancies have you had?
          div
            span
              input.field.radio(ng-model='questions.q16a.answer' type='text')
              label.choice
                | Type answer in number keypad. 
            span
              input.field.radio(ng-model='questions.q16a.answer' value='999' type='radio')
              label.choice
                | I don't know
            span
              input.field.radio(ng-model='questions.q16a.answer' value='777' type='radio')
              label.choice
                | I don't want to answer this question

     li#q16b(ng-show="currentQuestion == 'q16b'")
          label
            | Q16b. ...you had an unplanned pregnancy, were you using any method of birth control or doing anything to prevent getting pregnant?
          div
            span
              input.field.radio(ng-model='questions.q16b.answer' value='1' type='radio')
              label.choice
                | Yes
            span
              input.field.radio(ng-model='questions.q16b.answer' value='0' type='radio')
              label.choice
                | No
            span
              input.field.radio(ng-model='questions.q16b.answer' value='999' type='radio')
              label.choice
                | I don't know
            span
              input.field.radio(ng-model='questions.q16b.answer' value='777' type='radio')
              label.choice 
                | I don't want to answer this question

     li#q16bi(ng-show="currentQuestion == 'q16bi'")
          label
            | Q16bi. ...you had an unplanned pregnancy, what method of birth control were you using? You will see three screens of methods. Please choose ALL the methods you are interested in using. If you are not interested in any of these methods, go to the next screen.
          div(ng-repeat='option in questions.q16bi.options')
            input(type='checkbox' ng-checked="questions.q16bi.selectedOptions.indexOf(option) != -1" ng-click="questions.q16bi.toggleCheck(option)")
            label {{option.name}}

     li#q17(ng-show="currentQuestion == 'q17'")
          label
            | Q17. What birth control methods are you interested in using now? You will see three screens of methods. Please choose ALL the methods ou are interested in using. If you are not interested in any of these methods, go to the next screen.
          div
            span
              input.field.radio(ng-model='questions.q17.answer' value ='0' type='radio')
              label.choice
                | First Choice
            span
              input.field.radio(ng-model='questions.q17.answer' value='1' type='radio')
              label.choice
                | Second Choice
            span
              input.field.radio(ng-model='questions.q17.answer' value='2' type='radio')
              label.choice
                | Third Choice

     li#q18(ng-show="currentQuestion == 'q18'")
          label
            | Q18. Have you EVER used any method of birth control?
          div
            span
              input.field.radio(ng-model='questions.q18.answer' value ='1' type='radio')
              label.choice
                | Yes
            span
              input.field.radio(ng-model='questions.q18.answer' value ='0' type='radio')
              label.choice
                | No
            span
              input.field.radio(ng-model='questions.q18.answer' value ='999' type='radio')
              label.choice
                | I don't know
            span
              input.field.radio(ng-model='questions.q18.answer' value ='777' type='radio')
              label.choice
                | I don't want to answer this question


     li#q18a(ng-show="currentQuestion == 'q18a'")
          label
            | Q18a. Are you using birth control now?
          div
            span
              input.field.radio(ng-model='questions.q18a.answer' value ='1' type='radio')
              label.choice
                | Yes
            span
              input.field.radio(ng-model='questions.q18a.answer' value ='0' type='radio')
              label.choice
                | No
            span
              input.field.radio(ng-model='questions.q18a.answer' value ='999' type='radio')
              label.choice
                | I don't know
            span
              input.field.radio(ng-model='questions.q18a.answer' value ='777' type='radio')
              label.choice
                | I don't want to answer this question


    li#q18ai(ng-show="currentQuestion == 'q18ai'")
          label
            | Q18ai. What birth control methods are you using now? You will see three screens of methods. Please choose ALL the methods you are interested in using. If you are not interested in any of these methods, go to the next screen.
          div
            span
              input.field.radio(ng-model='questions.q18ai.answer' value ='0' type='radio')
              label.choice
                | option 1
            span
              input.field.radio(ng-model='questions.q18ai.answer' value ='0' type='radio')
              label.choice
                | option 2
            span
              input.field.radio(ng-model='questions.q18ai.answer' value ='0' type='radio')
              label.choice
                | option 3


     li#q19(ng-show="currentQuestion == 'q19'")
          label
            | Q19. Have you ever used a birth control method that you didn't like, that didn't work for you, or that you had other problems with?
          div
            span
              input.field.radio(ng-model='questions.q18.answer' value ='1' type='radio')
              label.choice
                | Yes
            span
              input.field.radio(ng-model='questions.q18.answer' value ='0' type='radio')
              label.choice
                | No
            span
              input.field.radio(ng-model='questions.q18.answer' value ='999' type='radio')
              label.choice
                | I don't know
            span
              input.field.radio(ng-model='questions.q18.answer' value ='777' type='radio')
              label.choice
                | I don't want to answer this question


     li#q19a(ng-show="currentQuestion == 'q19a'")
          label
            | Q19a. Which methods did you have a problem with? You will see three screens of methods. Please choose ALL the methods you had a problem with. If you did not have a problem with any of these methods, go to the next screen.
           div
            span
              input.field.radio(ng-model='questions.q19a.answer' value ='0' type='radio')
              label.choice
                | option 1
            span
              input.field.radio(ng-model='questions.q19a.answer' value ='0' type='radio')
              label.choice
                | option 2
            span
              input.field.radio(ng-model='questions.q19a.answer' value ='0' type='radio')
              label.choice
                | option 3


     li#q19ai(ng-show="currentQuestion == 'q19ai'")
          label
            | Q19ai. What problems did you have while using:
          div
            span
              input.field.radio(ng-model='questions.q19ai.answer' value ='0' type='radio')
              label.choice
                | I didn't like the changes to my body
            span
              input.field.radio(ng-model='questions.q19ai.answer' value ='0' type='radio')
              label.choice
                | I had problems getting the birth control
            span
              input.field.radio(ng-model='questions.q19ai.answer' value ='0' type='radio')
              label.choice
                | I didn't use it right
            span
              input.field.radio(ng-model='questions.q19ai.answer' value ='0' type='radio')
              label.choice
                | I got pregnant
            span
              input.field.radio(ng-model='questions.q19ai.answer' value ='0' type='radio')
              label.choice
                | I developed health problems
            span
              input.field.radio(ng-model='questions.q19ai.answer' value ='0' type='radio')
              label.choice
                | I didn't like my periods
            span
              input.field.radio(ng-model='questions.q19ai.answer' value ='0' type='radio')
              label.choice
                | My partner didn't like it
            span
              input.field.radio(ng-model='questions.q19ai.answer' value ='0' type='radio')
              label.choice
                | None of these problems
            span
              input.field.radio(ng-model='questions.q19ai.answer' value ='0' type='radio')
              label.choice
                | I don't know
            span
              input.field.radio(ng-model='questions.q19ai.answer' value ='0' type='radio')
              label.choice
                | I don't want to answer this question


     li#q20(ng-show="currentQuestion == 'q20'")
          label
            | Q20. When would you like to become pregnant? In...
            div(ng-repeat='option in questions.q20.options')
              input(type="radio" ng-model="questions.q20.selectedOption" ng-value="{{option}}")
              label {{option.name}}


     li#q21(ng-show="currentQuestion == 'q21'")
          label
            | Q21. What is most important to you when choosing a birth control method? Please select the three most important to you
            div
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Easy to use
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Safe with breast feeding
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Inexpensive
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Very effective
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Able to get pregnant quickly after stopping use of method
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Not very many side-effects
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | No hormones
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Effective long term meaning three months or longer
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Do not need to interrupt sexual activity
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Able to give regular monthly periods
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Gives fewer or no periods
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | Decreases symptoms from period
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | I don't know
              span
                input.field.radio(ng-model='questions.q21.answer' value ='0' type='radio')
                label.choice
                  | I don't want to answer this question

     li#q22(ng-show="currentQuestion == 'q22'")
          label
            | Q22. How often do you want to actively do something for your birth control? You may choose more than one answer.
          div
              span
                input.field.radio(ng-model='questions.q22.answer' value ='0' type='radio')
                label.choice
                  | Every time you have sex
              span
                input.field.radio(ng-model='questions.q22.answer' value ='0' type='radio')
                label.choice
                  | Every day
              span
                input.field.radio(ng-model='questions.q22.answer' value ='0' type='radio')
                label.choice
                  | Once a week
              span
                input.field.radio(ng-model='questions.q22.answer' value ='0' type='radio')
                label.choice
                  | Once a month
              span
                input.field.radio(ng-model='questions.q22.answer' value ='0' type='radio')
                label.choice
                  | Every three months
              span
                input.field.radio(ng-model='questions.q22.answer' value ='0' type='radio')
                label.choice
                  | Longer than every three months
              span
                input.field.radio(ng-model='questions.q22.answer' value ='0' type='radio')
                label.choice
                  | Permanent method
              span
                input.field.radio(ng-model='questions.q22.answer' value ='0' type='radio')
                label.choice
                  | I don't know
              span
                input.field.radio(ng-model='questions.q22.answer' value ='0' type='radio')
                label.choice
                  | I don't want to answer this question

    input(type="button",ng-click="saveAnswers()",value="Continue")

// this ends the third set of questions 03
//- li(ng-show="currentQuestion == 'q18'")