header#header.info()

//-  div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px")
    method: {{key}} pos: {{value.p}} neg: {{value.n}}

  #container
  h2 WhichMethod_04
  ul
     li#q23(ng-show="currentQuestion == 'q23'")
      label
        | Q23. Would you be okay with regular, scheduled bleeding?
      div
        span
          input.field.radio(ng-model='questions.q23.answer' value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q23.answer' value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q23.answer'  value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q23.answer' value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question


     li#q24(ng-show="currentQuestion == 'q24'")
      label
        | Q24. Would you be okay with unscheduled bleeding and/or spotting?
      div
        span
          input.field.radio(ng-model='questions.q24.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q24.answer', value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q24.answer', value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q24.answer', value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question


     li#q25(ng-show="currentQuestion == 'q25'")
      label
        | Q25. Would you be okay with no bleeding at all?
      div
        span
          input.field.radio(ng-model='questions.q25.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q25.answer', value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q25.answer', value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q25.answer', value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question


     li#q26(ng-show="currentQuestion == 'q26'")
      label
        | Q26. Do you need a birth control method which you can keep private?
      div
        span
          input.field.radio(ng-model='questions.q26.answer', value='Yes', type='radio')          
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q26.answer', value='No', type='radio')
          label.choice
            | No


     li#q26a(ng-show="currentQuestion == 'q26a'")
      label
        | Q26a. Do you want to keep it private from your boyfriend/girlfriend/partner?
      div
        span
          input.field.radio(ng-model='questions.q26a.answer',value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q26a.answer',value='No', type='radio')
          label.choice
            | No

     li#q26b(ng-show="currentQuestion == 'q26b'")
      label
        | Q26b. Do you want to keep it private from your family or your friends?
      div
        span
          input.field.radio(ng-model='questions.q26b.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q26b.answer', value='No', type='radio')
          label.choice
            | No


     li#q27(ng-show="currentQuestion == 'q27'")
      label
        | Q27. Would it be OK for you to use a birth control method (like condoms, spermicides, diaphragm or sponge) that you have to interrupt sexual activity to use?
      div
        span
          input.field.radio(ng-model='questions.q27.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q27.answer', value='No', type='radio')
          label.choice
            | No

    // this is the end of the 4th section of questions 04
