header#header.info()
//- div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px")
    method: {{key}} pos: {{value.p}} neg: {{value.n}}
#container  
  h3 WhichMethod_03
  ul
     li#q14(ng-show="currentQuestion == 'q14'")
      label
        | Q14. How would you describe your current sexual relationship? Would you say that...
      div(ng-repeat='option in questions.q14.options')
        input(type="radio" name='q14' ng-model="questions.q14.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

     li#q15(ng-show="currentQuestion == 'q15'")
      label
        | Q15. During the last 12 months how many men, if any, have you had sexual intercourse with? Please count every male sexual partner, even those you had sex with only once. 
      div
        input(ng-model='questions.q15.textInput' type='text')
        div(ng-repeat='option in questions.q15.options')
          input(type="radio" name='q15' ng-model="questions.q15.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q16(ng-show="currentQuestion == 'q16'")
        label
          | Q16. Have you ever had an unplanned pregnancy?
        div(ng-repeat='option in questions.q16.options')
          input(type="radio" name='q16' ng-model="questions.q16.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q16a(ng-show="currentQuestion == 'q16a'")
        label
          | Q16a. How many unplanned pregnancies have you had?
        input(ng-model='questions.q16a.textInput' type='text')
        div(ng-repeat='option in questions.q16a.options')
          input(type="radio" name='q16a' ng-model="questions.q16a.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q16b(ng-show="currentQuestion == 'q16b'")
        label
          | Q16b. ...you had an unplanned pregnancy, were you using any method of birth control or doing anything to prevent getting pregnant?
        div(ng-repeat='option in questions.q16b.options')
          input(type="radio" name='q16b' ng-model="questions.q16b.selectedOption" ng-value="{{option}}")
          label {{option.name}}

     li#q16bi(ng-show="currentQuestion == 'q16bi'")
        label
          | Q16bi. ...you had an unplanned pregnancy, what method of birth control were you using?
        div(ng-repeat='option in questions.q16bi.options')
          input(type='checkbox' ng-checked="questions.q16bi.selectedOptions.indexOf(option) != -1" ng-click="questions.q16bi.toggleCheck(option)")
          label {{option.name}}

     li#q17(ng-show="currentQuestion == 'q17'")
        label
          | Q17. What birth control methods are you interested in using now? You will see three screens of methods. Please choose ALL the methods ou are interested in using. If you are not interested in any of these methods, go to the next screen.
        div(ng-repeat='option in questions.q17.options')
          input(type='checkbox' ng-checked="questions.q17.selectedOptions.indexOf(option) != -1" ng-click="questions.q17.toggleCheck(option)")
          label {{option.name}}

     li#q18(ng-show="currentQuestion == 'q18'")
        label
          | Q18. Have you EVER used any method of birth control?
        div(ng-repeat='option in questions.q18.options')
          input(type="radio" name='q18' ng-model="questions.q18.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q18a(ng-show="currentQuestion == 'q18a'")
        label
          | Q18a. Are you using birth control now?
        div(ng-repeat='option in questions.q18a.options')
          input(type="radio" name='q18a' ng-model="questions.q18a.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q18ai(ng-show="currentQuestion == 'q18ai'")
        label
          | Q18ai. What birth control methods are you using now? You will see three screens of methods. Please choose ALL the methods you are interested in using. If you are not interested in any of these methods, go to the next screen.
        div(ng-repeat='option in questions.q18ai.options')
          input(type='checkbox' ng-checked="questions.q18ai.selectedOptions.indexOf(option) != -1" ng-click="questions.q18ai.toggleCheck(option)")
          label {{option.name}}

     li#q19(ng-show="currentQuestion == 'q19'")
        label
          | Q19. Have you ever used a birth control method that you didn't like, that didn't work for you, or that you had other problems with?
        div(ng-repeat='option in questions.q19.options')
          input(type="radio" name='q19' ng-model="questions.q19.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q19a(ng-show="currentQuestion == 'q19a'")
        label
          | Q19a. Which methods did you have a problem with? You will see three screens of methods. Please choose ALL the methods you had a problem with. If you did not have a problem with any of these methods, go to the next screen.
        div(ng-repeat='option in questions.q19a.options')
          input(type='checkbox' ng-checked="questions.q19a.selectedOptions.indexOf(option) != -1" ng-click="questions.q19a.toggleCheck(option)")
          label {{option.name}}
   
     li#q19ai(ng-show="currentQuestion == 'q19ai'")
        label
          | Q19ai. What problems did you have while using {{questions.q19ai.curBcProbName()}}
        div(ng-repeat='option in questions.q19ai.options')
          input(type='checkbox' ng-checked="questions.q19ai.selectedOptions.indexOf(option) != -1" ng-click="questions.q19ai.toggleCheck(option)")
          label {{option.name}}

     li#q20(ng-show="currentQuestion == 'q20'")
        label
          | Q20. When would you like to become pregnant? In
        div(ng-repeat='option in questions.q20.options')
          input(type="radio" name='q20' ng-model="questions.q20.selectedOption" ng-value="{{option}}")
          label {{option.name}}

     li#q21(ng-show="currentQuestion == 'q21'")
        label
          | Q21. What is most important to you when choosing a birth control method? Please select the three most important to you
        div(ng-repeat='option in questions.q21.options')
          input(type='checkbox' ng-checked="questions.q21.selectedOptions.indexOf(option) != -1" ng-click="questions.q21.toggleCheck(option)")
          label {{option.name}}

     li#q22(ng-show="currentQuestion == 'q22'")
        label
          | Q22. How often do you want to actively do something for your birth control? You may choose more than one answer.
        div(ng-repeat='option in questions.q22.options')
          input(type="radio" name='q22' ng-model="questions.q22.selectedOption" ng-value="{{option}}")
          label {{option.name}}

    input(type="button",ng-click="saveAnswers()",value="Continue")

// this ends the third set of questions 03
//- li(ng-show="currentQuestion == 'q18'")