header#header.info()

  div
    |ranking: {{ranking}}

  //- |{{questions.q1}}
  //- |{{questions.q2}}
  //- |{{questions.q3}}


  h2 WhichMethod_01    
  ul
    li(ng-show="questions.q1.answer !=undefined || currentQuestion == 'q1'")
      label
        | Q1. How old are you?
      div
        input( ng-model='questions.q1.answer', type='text', tabindex='1')

    
    //- li(ng-show="questions.q2.answer !=undefined || currentQuestion == 'q2'")
    li
      label
        | Q2. How much do you weigh?
      div
        input(ng-disabled="currentQuestion == 'q2'" ng-model='questions.q2.answer' type='text', tabindex='1')

    li(ng-show="questions.q3.answer !=undefined || currentQuestion == 'q3'")
      label
        | Q3. How often do you smoke cigarettes or cigars or use smokeless tobacco?
      div
        input(ng-model='questions.q3.answer' type='text', tabindex='1')




    li(_ng-show="questions.q7.answer !=undefined || currentQuestion == 'q7'")
      fieldset
        legend.desc
          | How often do you smoke cigarettes or cigars or use smokeless tobacco?
        div        
          span
            input.radio(ng-model='questions.q7.answer' value='1'  type='radio', tabindex='25', checked='checked')
            label.choice
              | I do not use tobacco
          span
            input.field.radio(ng-model='questions.q7.answer' value='2'  type='radio')
            label.choice
              | I use tobacco less than once a day
          span
            input.field.radio(ng-model='questions.q7.answer' value='3'  type='radio')
            label.choice
              | I use tobacco daily
          span
            input.field.radio(ng-model='questions.q7.answer' value='999' type='radio')
            label.choice
              | I don't know
          span
            input.field.radio(ng-model='questions.q7.answer' value='777' type='radio')
            label.choice
              | I don't want to answer this question
  
    input(type="submit", ng-click="saveAnswers()", value="Submit")


//-     // end of first set of questions 01