header
  #logo
    a(href="landing_01.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary(ng-click='logout()') Log out
  br
  br
#container-top
  h3 
    span.en WhichMethod Section 7 
    span.es WhichMethod Sección 7 
    span.glyphicon.glyphicon-play(style='color:#986698') 
  br
  br
#container
  .body.questionpages
  br
  br
  ul
    li#54a(ng-show="currentQuestion == 'q54a'")
      label
        | Q.54a. The birth control pill requires that you take a pill every single day. Could you remember to take a pill every single day?
      div(ng-repeat='option in questions.q54a.options')
        input(type="radio" name='q54a' ng-change="saveAnswers()" ng-model='questions.q54a.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#54b(ng-show="currentQuestion == 'q54b'")
      label
        | Q54b. The birth control shot requires that you return to the clinic every three months to get a shot, would you be able to do this?
      div(ng-repeat='option in questions.q54b.options')
        input(type="radio" name='q54b' ng-change="saveAnswers()" ng-model='questions.q54b.selectedOption' ng-value="{{option}}")
        label {{option.name}}
      
    li#54c(ng-show="currentQuestion == 'q54c'")
      label
        | Q54c. The contraceptive ring requires that you place a small bendable ring in your vagina once per month. Would you feel comfortable using the ring as a birth control method?
      div(ng-repeat='option in questions.q54c.options')
        input(type="radio" name='q54c' ng-change="saveAnswers()" ng-model='questions.q54c.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#54d(ng-show="currentQuestion == 'q54d'")
      label
        | Q54d. Would you feel comfortable having an IUD, a T-shaped contraceptive, placed by your provider insider your uterus that would provide contraception for 5-10 years?
      div(ng-repeat='option in questions.q54d.options')
        input(type="radio" name='q54d' ng-change="saveAnswers()" ng-model='questions.q54d.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    li#54e(ng-show="currentQuestion == 'q54e'")
      label
        | Q54e. The contraceptive implant is a small rod placed by your provider under the skin of your upper arm that provides contraception for up to 3 years. Would you feel comfortable using the contraceptive implant as a birth control method?
      div(ng-repeat='option in questions.q54e.options')
        input(type="radio" name='q54e' ng-change="saveAnswers()" ng-model='questions.q54e.selectedOption' ng-value="{{option}}")
        label {{option.name}}

div(ng-include="'app/sections/rankhelp.html'")

