header
  #logo
    a(href="landing_01.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary(ng-click='logout()')
        span(lang='en') Log out
        span(lang='es') Salir
  br
  br
#container-top
  h3 
    span(ng-show="language=='en'") WhichMethod Section 2
    span(ng-show="language=='es'") WhichMethod Sección 2
    span.glyphicon.glyphicon-play(style='color:#986698')
  br
  br
#container
  .body.questionpages
  br
  br
  ul
    #q4(ng-show="currentQuestion == 'q4'")
      //- li#q4(ng-show="currentSection == '2'")
      h4 
        span(lang='en') When you are not using birth control, do you have:
        span(lang='es') Cuando no usa métodos anticonceptivos (métodos de planificación familiar), tiene:
      br
      label
        span(lang='en') Q4. Regular monthly periods?
        span(lang='es') Q4. Períodos mensuales regularmente?
      div(ng-repeat='option in questions.q4.options')
        input(type="radio" name='q4' ng-change="saveAnswers()" ng-model="questions.q4.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    #q4a(ng-show="currentQuestion == 'q4a'")
      //- li#q4(ng-show="currentSection == '2' && questions.q4.answer == 2 || questions.q4.answer =='2' ")
      h4 
        span(lang='en') When you are not using birth control, do you have:
        span(lang='es') Cuando no usa métodos anticonceptivos (métodos de planificación familiar), tiene:
      br
      label
        span(lang='en') Q4a. Three or fewer periods per year?
        span(lang='es') Q4a. Tres o menos períodos al año?
      div(ng-repeat='option in questions.q4a.options')
        input(type="radio" name='q4a' ng-change="saveAnswers()" ng-model="questions.q4a.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}
      input(type="button",ng-click="saveAnswers()",value="Skip")

    #q5(ng-show="currentQuestion == 'q5'")
      h4 
        span(lang='en') When you are not using birth control, do you have:
        span(lang='es') Cuando no usa métodos anticonceptivos (métodos de planificación familiar), tiene:
      br
      label
        span(lang='en') Q5. Very heavy periods?
        span(lang='es') Q5. Períodos muy abundantes?
      div(ng-repeat='option in questions.q5.options')
        input(type="radio" name='q5' ng-change="saveAnswers()" ng-model="questions.q5.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    #q6(ng-show="currentQuestion == 'q6'")
      h4 
        span(lang='en') When you are not using birth control, do you have:
        span(lang='es') Cuando no usa métodos anticonceptivos (métodos de planificación familiar), tiene:
      br
      label
        | Q6. 
        span(lang='en') Periods that last longer than 7 days?
        span(lang='es') Períodos que duran más de 7 días?
      div(ng-repeat='option in questions.q6.options')
        input(type="radio" name='q6' ng-change="saveAnswers()" ng-model="questions.q6.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    #q7(ng-show="currentQuestion == 'q7'")
      h4 
        span(lang='en') When you are not using birth control, do you have:
        span(lang='es') Cuando no usa métodos anticonceptivos (métodos de planificación familiar), tiene:
      br
      label
        | Q7. 
        span(lang='en') Painful periods or bad cramps?
        span(lang='es') Períodos acompañados de dolor o cólicos?
      div(ng-repeat='option in questions.q7.options')
        input(type="radio" name='q7' ng-change="saveAnswers()" ng-model="questions.q7.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    #q8(ng-show="currentQuestion == 'q8'")
      h4 
        span(lang='en') When you are not using birth control, do you have:
        span(lang='es') Cuando no usa métodos anticonceptivos (métodos de planificación familiar), tiene:
      br
      label
        | Q8. 
        span(lang='en') Breast tenderness during your period?
        span(lang='es') Más sensibilidad en los senos?
      div(ng-repeat='option in questions.q8.options')
        input(type="radio" name='q8' ng-change="saveAnswers()" ng-model="questions.q8.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    #q9(ng-show="currentQuestion == 'q9'")
      h4 
        span(lang='en') When you are not using birth control, do you have:
        span(lang='es') Cuando no usa métodos anticonceptivos (métodos de planificación familiar), tiene:
      br
      label
        | Q9. 
        span(lang='en') Depression or anxiety during your period?
        span(lang='es') Depresión o ansiedad durante su período?
      div(ng-repeat='option in questions.q9.options')
        input(type="radio" name='q9' ng-change="saveAnswers()" ng-model="questions.q9.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    #q10(ng-show="currentQuestion == 'q10'")
      h4 
        span(lang='en') When you are not using birth control, do you have:
        span(lang='es') Cuando no usa métodos anticonceptivos (métodos de planificación familiar), tiene:
      br
      label
        | Q10. 
        span(lang='en') Bloating or fluid retention during your period
        span(lang='es') Hinchazón o retención de líquidos?
      div(ng-repeat='option in questions.q10.options')
        input(type="radio" name='q10' ng-change="saveAnswers()" ng-model="questions.q10.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    #q11(ng-show="currentQuestion == 'q11'")
      h4 
        span(lang='en') When you are not using birth control, do you have:
        span(lang='es') Cuando no usa métodos anticonceptivos (métodos de planificación familiar), tiene:
      br
      label
        | Q11. 
        span(lang='en') Bad headaches with your period?
        span(lang='es') Fuertes dolores de cabeza con su período?
      div(ng-repeat='option in questions.q11.options')
        input(type="radio" name='q11' ng-change="saveAnswers()" ng-model="questions.q11.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    #q12(ng-show="currentQuestion == 'q12'")
      h4 
        span(lang='en') When you are not using birth control, do you have:
        span(lang='es') Cuando no usa métodos anticonceptivos (métodos de planificación familiar), tiene:
      br
      label
        | Q12. 
        span(lang='en') Significant PMS (premenstrual syndrome)?
        span(lang='es') Sufre usted del síndrome pre-menstrual fuertemente?
      div(ng-repeat='option in questions.q12.options')
        input(type="radio" name='q12' ng-change="saveAnswers()" ng-model="questions.q12.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

    #q13(ng-show="currentQuestion == 'q13'")
      label
        span(lang='en') Q13. How often do these symptoms cause you to miss work or school?
        span(lang='es') Q13. ¿Qué tan frecuentemente se ausenta usted del trabajo o la escuela a causa de estos síntomas?
      div(ng-repeat='option in questions.q13.options')
        input(type="radio" name='q13' ng-change="saveAnswers()" ng-model="questions.q13.selectedOption" ng-value="{{option}}")
        label.choice(ng-if="language=='en'") {{option.name}}
        label.choice(ng-if="language=='es'") {{option.nameES}}

// div(ng-include="'app/sections/rankhelp.html'")

