header#header.info()

  div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px")
    method: {{key}} pos: {{value.p}} neg: {{value.n}}

  h2 WhichMethod_04
  ul
     li#q27(ng-show="currentQuestion == 'q27'")
      label
        | Q27. Would you be okay with regular, scheduled bleeding?
      div
        span
          input.field.radio(ng-model='questions.q27.answer' value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q27.answer' value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q27.answer'  value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q27.answer' value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question


     li#q28(ng-show="currentQuestion == 'q28'")
      label
        | Q28. Would you be okay with unscheduled bleeding and/or spotting?
      div
        span
          input.field.radio(ng-model='questions.q28.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q28.answer', value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q28.answer', value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q28.answer', value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question


     li#q29(ng-show="currentQuestion == 'q29'")
      label
        | Q29. Would you be okay with no bleeding at all?
      div
        span
          input.field.radio(ng-model='questions.q29.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q29.answer', value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q29.answer', value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q29.answer', value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question


     li#q30(ng-show="currentQuestion == 'q30'")
      label
        | Q30. Do you need a birth control method which you can keep private?
      div
        span
          input.field.radio(ng-model='questions.q30.answer', value='Yes', type='radio')          
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q30.answer', value='No', type='radio')
          label.choice
            | No


     li#q30a(ng-show="currentQuestion == 'q30a'")
      label
        | Q30a. Do you want to keep it private from your boyfriend/girlfriend/partner?
      div
        span
          input.field.radio(ng-model='questions.q30.a.answer',value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q30.a.answer',value='No', type='radio')
          label.choice
            | No

     li#q30b(ng-show="currentQuestion == 'q30b'")
      label
        | Q30b. Do you want to keep it private from your family or your friends?
      div
        span
          input.field.radio(ng-model='questions.q30.b.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q30.b.answer', value='No', type='radio')
          label.choice
            | No


     li#q31(ng-show="currentQuestion == 'q31'")
      label
        | Q31. Would it be OK for you to use a birth control method (like condoms, spermicides, diaphragm or sponge) that you have to interrupt sexual activity to use?
      div
        span
          input.field.radio(ng-model='questions.q31.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q31.answer', value='No', type='radio')
          label.choice
            | No

    // this is the end of the 4th section of questions 04
