header#header.info()

  div
    |ranking: {{ranking}}

  |{{questions.q1}}
  |{{questions.q2}}
  |{{questions.q3}}


  h2 WhichMethod_01    
  ul
    li(ng-show="questions.q1.answer !=undefined || currentQuestion == 'q1'")
      label
        | Q1. How old are you?
      div
        input(ng-model='questions.q1.answer', type='text', tabindex='1')

    
    li(ng-show="questions.q2.answer !=undefined || currentQuestion == 'q2'")
      label
        | Q2. How much do you weigh?
      div
        input(ng-model='questions.q2.answer' type='text', tabindex='1')

    li(ng-show="questions.q3.answer !=undefined || currentQuestion == 'q3'")
      label
        | Q3. How often do you smoke cigarettes or cigars or use smokeless tobacco?
      div
        input(ng-model='questions.q3.answer' type='text', tabindex='1')




    li(_ng-show="questions.q7.answer !=undefined || currentQuestion == 'q7'")
      fieldset
        legend.desc
          | How often do you smoke cigarettes or cigars or use smokeless tobacco?
        div
          input(name='Field133', type='hidden', value='')
        
          span
            input.radio(ng-model='questions.q7.answer' value='1' name='Field133', type='radio', tabindex='25', checked='checked')
            label.choice(for='Field133_0')
              | I do not use tobacco
          span
            input.field.radio(ng-model='questions.q7.answer' value='2' name='Field133', type='radio', tabindex='26')
            label.choice(for='Field133_1')
              | I use tobacco less than once a day
          span
            input.field.radio(ng-model='questions.q7.answer' value='3' name='Field133', type='radio', tabindex='27')
            label.choice(for='Field133_2')
              | I use tobacco daily
          span
            input.field.radio(ng-model='questions.q7.answer' value='999' name='Field133', type='radio', tabindex='28')
            label.choice(for='Field133_3')
              | I don't know
          span
            input.field.radio(ng-model='questions.q7.answer' value='777'  name='Field133', type='radio', tabindex='29')
            label.choice(for='Field133_4')
              | I don't want to answer this question
  
    input(type="submit", ng-click="saveAnswers()", value="Submit") 


//-     // end of first set of questions 01