header
  #logo
    a(href="landing_01.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary(ng-click='logout()') Log out
  br
  br
#container-top
  h3 
    span.en WhichMethod Section 3 
    span.es WhichMethod Sección 3
    span.glyphicon.glyphicon-play(style='color:#986698') 
  br
  br
#container
  .body.questionpages
  br
  br
  ul
     li#q14(ng-show="currentQuestion == 'q14'")
      label
        | Q14. How would you describe your current sexual relationship (By sex, I mean vaginal sex)? Would you say that:
      div(ng-repeat='option in questions.q14.options')
        input(type="radio" name='q14' ng-change="saveAnswers()" ng-model="questions.q14.selectedOption" ng-value="{{option}}")
        label.choice {{option.name}}

     li#q15(ng-show="currentQuestion == 'q15'")
      label
        | Q15. During the last 12 months how many men, if any, have you had sexual intercourse with? Please count every male sexual partner, even those you had sex with only once.
      form(name="mens")
        input(ng-model='questions.q15.textInput' type='number' required)
        div(ng-repeat='option in questions.q15.options')
          input(type="radio" name='q15'  ng-model="questions.q15.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}
        br
        br
        br
        input(type="button" ng-disabled="mens.$invalid" ng-click="saveAnswers()",value="Continue")

     li#q16(ng-show="currentQuestion == 'q16'")
        label
          | Q16. Have you ever had an unplanned pregnancy?
        div(ng-repeat='option in questions.q16.options')
          input(type="radio" name='q16' ng-change="saveAnswers()" ng-model="questions.q16.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q16a(ng-show="currentQuestion == 'q16a'")
        label
          | Q16a. How many unplanned pregnancies have you had?
        form(name="unplanned")
          input(ng-model='questions.q16a.textInput' type='number' required)
          div(ng-repeat='option in questions.q16a.options')
            input(type="radio" name='q16a' ng-model="questions.q16a.selectedOption" ng-value="{{option}}")
            label.choice {{option.name}}
          br
          br
          br
          input(type="button" ng-disabled="unplanned.$invalid" ng-click="saveAnswers()",value="Continue")

     li#q16b(ng-show="currentQuestion == 'q16b'")
        label
          | Q16b. When you had an unplanned pregnancy or pregnancies were you using any method of birth control or doing anything to prevent getting pregnant?
        div(ng-repeat='option in questions.q16b.options')
          input(type="radio" name='q16b' ng-change="saveAnswers()" ng-model="questions.q16b.selectedOption" ng-value="{{option}}")
          label {{option.name}}

     li#q16bi(ng-show="currentQuestion == 'q16bi'")
        label
          | Q16bi. When you had an unplanned pregnancy or pregnancies, what method of birth control were you using?
        
        div(ng-repeat='option in questions.q16bi.options')
          input(type='checkbox'  ng-checked="questions.q16bi.selectedOptions.indexOf(option) != -1" ng-click="questions.q16bi.toggleCheck(option)")
          label {{option.name}}

          div(ng-if="questions.q16bi.selectedOptions.indexOf(option) != -1" style="padding-left:10px")
            | Which unplanned pregnancy was this (mark all that apply)?
            br
            span(ng-repeat="n in range( questions.q16a.answer ) track by $index" )
              label pregnancy {{$index+1}} &nbsp;  
              input(type='checkbox'  ng-checked="" ng-click="questions.q16bi.togglePregnancy(option,$index+1)" ) 
              &nbsp; &nbsp;
        br
        br
        br
        input(type="button",ng-click="saveAnswers()",value="Continue")

     li#q17(ng-show="currentQuestion == 'q17'")
        label
          | Q17. What birth control methods are you interested in using now? Please choose ALL the methods you are interested in using. If you are not interested in any of these methods, go to the next screen.
        div(ng-repeat='option in questions.q17.options')
          input(type='checkbox' ng-checked="questions.q17.selectedOptions.indexOf(option) != -1" ng-click="questions.q17.toggleCheck(option)")
          label {{option.name}}
        br
        br
        br
        input(type="button",ng-click="saveAnswers()",value="Continue")

     li#q18(ng-show="currentQuestion == 'q18'")
        label
          | Q18. Have you EVER used any method of birth control?
        div(ng-repeat='option in questions.q18.options')
          input(type="radio" name='q18' ng-change="saveAnswers()" ng-model="questions.q18.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q18a(ng-show="currentQuestion == 'q18a'")
        label
          | Q18a. Are you using birth control now?
        div(ng-repeat='option in questions.q18a.options')
          input(type="radio" name='q18a' ng-change="saveAnswers()" ng-model="questions.q18a.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q18ai(ng-show="currentQuestion == 'q18ai'")
        label
          | Q18ai. What birth control methods are you using now? Please choose ALL the methods you are using now. If you are not using any of these methods, go to the next screen.
        div(ng-repeat='option in questions.q18ai.options')
          input(type='checkbox' ng-checked="questions.q18ai.selectedOptions.indexOf(option) != -1" ng-click="questions.q18ai.toggleCheck(option)")
          label {{option.name}}
        br
        br
        br
        input(type="button",ng-click="saveAnswers()",value="Continue")

     li#q19(ng-show="currentQuestion == 'q19'")
        label
          | Q19. Have you ever used a birth control method that you didn't like, that didn't work for you, or that you had other problems with?
        div(ng-repeat='option in questions.q19.options')
          input(type="radio" name='q19' ng-change="saveAnswers()" ng-model="questions.q19.selectedOption" ng-value="{{option}}")
          label.choice {{option.name}}

     li#q19a(ng-show="currentQuestion == 'q19a'")
        label
          | Q19a. Which methods did you have a problem with? Please choose ALL the methods you had a problem with.
        div(ng-repeat='option in questions.q19a.options')
          input(type='checkbox' ng-checked="questions.q19a.selectedOptions.indexOf(option) != -1" ng-click="questions.q19a.toggleCheck(option)")
          label {{option.name}}
        br
        br
        br
        input(type="button",ng-click="saveAnswers()",value="Continue")

     li#q19ai(ng-show="currentQuestion == 'q19ai'")
        label
          | Q19ai. What problems did you have while using this method? 
          span.highlightMyMethod(ng-show="questions.q19ai.curBcProbName()") {{questions.q19ai.curBcProbName()}}
        div(ng-repeat='option in questions.q19ai.options')
          input(type='checkbox' ng-checked="questions.q19ai.selectedOptions.indexOf(option) != -1" ng-click="questions.q19ai.toggleCheck(option)")
          label {{option.name}}
        br
        br
        br
        input(type="button",ng-click="saveAnswers()",value="Continue")

     li#q20(ng-show="currentQuestion == 'q20'")
        label
          | Q20. How soon do you want to get pregnant? In...
        div(ng-repeat='option in questions.q20.options')
          input(type="radio" name='q20' ng-change="saveAnswers()" ng-model="questions.q20.selectedOption" ng-value="{{option}}")
          label {{option.name}}

     li#q21(ng-show="currentQuestion == 'q21'")
        label
          | Q21. What is most important to you when choosing a birth control method? (Select 3)
        div(ng-repeat='option in questions.q21.options')
          input(type='checkbox' ng-checked="questions.q21.selectedOptions.indexOf(option) != -1" ng-click="questions.q21.toggleCheck(option)")
          label {{option.name}}
        br
        br
        .error(ng-show="questions.q21.selectedOptions.length < 3") *Please Select 3 Options
        br
        input(type="button", ng-disabled="questions.q21.selectedOptions.length < 3" ng-click="saveAnswers()",value="Continue")

      li#q22(ng-show="currentQuestion == 'q22'")
        label
          | Q22. How often do you want to actively do something for your birth control? You may choose more than one answer.
        div(ng-repeat='option in questions.q22.options')
          input(type='checkbox' ng-checked="questions.q22.selectedOptions.indexOf(option) != -1" ng-click="questions.q22.toggleCheck(option)")
          label {{option.name}}
        br
        br
        br
        input(type="button",ng-click="saveAnswers()",value="Continue")
    

div(ng-include="'app/sections/rankhelp.html'")
