header
  #logo
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
      // <img ng-src="assets/images/which_method_logo.png" alt=""/>
      //img(ng-src='assets/images/which_method_logo.png', alt='')
  #menu
    a.logout_btn_01( ng-click='logout()') Log out

#container
  h2 WhichMethod_07
  ul
    li#58a(ng-show="currentQuestion == 'q58a'")
      label
        | Q.58a. The birth control pill requires that you take a pill every single day. Could you remember to take a pill every single day?
      div(ng-repeat='option in questions.q58a.options')
        input(type="radio" name='q58a' ng-model='questions.q58a.selectedOption' ng-value="{{option}}")
        label {{option.name}}


    li#58b(ng-show="currentQuestion == 'q58b'")
      label
        | Q58b. The birth control shot requires that you return to the clinic every three months to get a shot, would you be able to do this?
      div(ng-repeat='option in questions.q58b.options')
        input(type="radio" name='q58b' ng-model='questions.q58a.selectedOption' ng-value="{{option}}")
        label {{option.name}}

      
    li#58c(ng-show="currentQuestion == 'q58c'")
      label
        | Q58c. The contraceptive ring requires that you place a small bendable ring in your vagina once per month. Would you feel comfortable using the ring as a birth control method?
      div(ng-repeat='option in questions.q58c.options')
        input(type="radio" name='q58c' ng-model='questions.q58a.selectedOption' ng-value="{{option}}")
        label {{option.name}}


    li#58d(ng-show="currentQuestion == 'q58d'")
      label
        | Q58d. Would you feel comfortable having an IUD, a T-shaped contraceptive, placed by your provider insider your uterus that would provide contraception for 5-10 years?
      div(ng-repeat='option in questions.q58d.options')
        input(type="radio" name='q58d' ng-model='questions.q58d.selectedOption' ng-value="{{option}}")
        label {{option.name}}


    li#58e(ng-show="currentQuestion == 'q58e'")
      label
        | Q58e. The contraceptive implant is a small rod placed by your provider under the skin of your upper arm that provides contraception for up to 3 years. Would you feel comfortable using the contraceptive implant as a birth control method?
      div(ng-repeat='option in questions.q58e.options')
        input(type="radio" name='q58e' ng-model='questions.q58e.selectedOption' ng-value="{{option}}")
        label {{option.name}}

    input(type="button",ng-click="saveAnswers()",value="Continue")

div(ng-include="'app/sections/rankhelp.html'")

