header#header.info()

//-  div(ng-repeat="(key, value) in ranking" style="display:inline-block; width:170px")
    method: {{key}} pos: {{value.p}} neg: {{value.n}}

  #container
  h2 WhichMethod_06
  ul
     li#57(ng-show="currentQuestion == 'q57'")
      label
        | Q57. Do you take dietary supplements or prescription medications regularly?
      div
        span
          input.field.radio(ng-model='questions.q57.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q57.answer', value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q57.answer', value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q57.answer', value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question


     li#57a(ng-show="currentQuestion == 'q57a'")
      label
        | Q57a. Do you take St. John's wort?
      div
        span
          input.field.radio(ng-model='questions.q57a.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q57a.answer', value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q57a.answer', value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q57a.answer', value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question



     li#57b(ng-show="currentQuestion == 'q57b'")
      label
        | Q57b. Do you take Rifampin, Rifadin or Rimactane?
      div
        span
          input.field.radio(ng-model='questions.q57b.answer', value='Yes' type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q57b.answer', value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q57b.answer', value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q57b.answer', value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question


     li#57c(ng-show="currentQuestion == 'q57c'")
      label
        | Q57c. Do you take any of these medications for seizure disorders or epilepsy?
      div
        span
          input.field.radio(ng-model='questions.q57c.answer', value='Phenytoin or Dilantin', type='radio')
          label.choice
            | Phenytoin or Dilantin
        span
          input.field.radio(ng-model='questions.q57c.answer', value='Carbamazepine or Tegretol', type='radio')
          label.choice
            | Carbamazepine or Tegretol
        span
          input.field.radio(ng-model='questions.q57c.answer', value='Primadone or Mysoline', type='radio')
          label.choice
            | Primadone or Mysoline
        span
          input.field.radio(ng-model='questions.q57c.answer', value='Topiramate or Topamax', type='radio')
          label.choice
            | Topiramate or Topamax
        span
          input.field.radio(ng-model='questions.q57c.answer', value='Oxycarbazepine or Trileptal', type='radio')
          label.choice
            | Oxycarbazepine or Trileptal


     li#57h(ng-show="currentQuestion == 'q57h'")
      label
        | Q57.h. Do you take Griseofulvin, Fulvicin or Grisactin?
      div
        span
          input.field.radio(ng-model='questions.q57h.answer', value='Yes', type='radio')
          label.choice
            | Yes
        span
          input.field.radio(ng-model='questions.q57h.answer', value='No', type='radio')
          label.choice
            | No
        span
          input.field.radio(ng-model='questions.q57h.answer', value='I don\'t know', type='radio')
          label.choice
            | I don't know
        span
          input.field.radio(ng-model='questions.q57h.answer', value='I don\'t want to answer this question', type='radio')
          label.choice
            | I don't want to answer this question

    input(type="button",ng-click="saveAnswers()",value="Continue") 

