body#public
#container.ltr

        header#header.info
          h2 WhichMethod_06
          div
        ul
          li#foli119.notranslate
            fieldset
              legend#title119.desc
                | Q57. Do you take dietary supplements or prescription medications regularly?
              //if lt IE 8
                label#title119.desc
                  | Q57. Do you take dietary supplements or prescription medications regularly?
              div
                input#radioDefault_119(name='Field119', type='hidden', value='')
                span
                  input#Field119_0.field.radio(name='Field119', type='radio', value='Yes', tabindex='1', checked='checked')
                  label.choice(for='Field119_0')
                    | Yes
                span
                  input#Field119_1.field.radio(name='Field119', type='radio', value='No', tabindex='2')
                  label.choice(for='Field119_1')
                    | No
                span
                  input#Field119_2.field.radio(name='Field119', type='radio', value='I don\'t know', tabindex='3')
                  label.choice(for='Field119_2')
                    | I don't know
                span
                  input#Field119_3.field.radio(name='Field119', type='radio', value='I don\'t want to answer this question', tabindex='4')
                  label.choice(for='Field119_3')
                    | I don't want to answer this question
          li#foli121.notranslate
            fieldset
              legend#title121.desc
                | Q57.a. Do you take St. John's wort?
              //if lt IE 8
                label#title121.desc
                  | Q57.a. Do you take St. John's wort?
              div
                input#radioDefault_121(name='Field121', type='hidden', value='')
                span
                  input#Field121_0.field.radio(name='Field121', type='radio', value='Yes', tabindex='5', checked='checked')
                  label.choice(for='Field121_0')
                    | Yes
                span
                  input#Field121_1.field.radio(name='Field121', type='radio', value='No', tabindex='6')
                  label.choice(for='Field121_1')
                    | No
                span
                  input#Field121_2.field.radio(name='Field121', type='radio', value='I don\'t know', tabindex='7')
                  label.choice(for='Field121_2')
                    | I don't know
                span
                  input#Field121_3.field.radio(name='Field121', type='radio', value='I don\'t want to answer this question', tabindex='8')
                  label.choice(for='Field121_3')
                    | I don't want to answer this question
          li#foli122.notranslate
            fieldset
              legend#title122.desc
                | Q57.b. Do you take Rifampin, Rifadin or Rimactane?
              //if lt IE 8
                label#title122.desc
                  | Q57.b. Do you take Rifampin, Rifadin or Rimactane?
              div
                input#radioDefault_122(name='Field122', type='hidden', value='')
                span
                  input#Field122_0.field.radio(name='Field122', type='radio', value='Yes', tabindex='9', checked='checked')
                  label.choice(for='Field122_0')
                    | Yes
                span
                  input#Field122_1.field.radio(name='Field122', type='radio', value='No', tabindex='10')
                  label.choice(for='Field122_1')
                    | No
                span
                  input#Field122_2.field.radio(name='Field122', type='radio', value='I don\'t know', tabindex='11')
                  label.choice(for='Field122_2')
                    | I don't know
                span
                  input#Field122_3.field.radio(name='Field122', type='radio', value='I don\'t want to answer this question', tabindex='12')
                  label.choice(for='Field122_3')
                    | I don't want to answer this question
          li#foli123.notranslate
            fieldset
              legend#title123.desc
                | Q57.c. Do you take any of these medications for seizure disorders or epilepsy?
              //if lt IE 8
                label#title123.desc
                  | Q57.c. Do you take any of these medications for seizure disorders or epilepsy?
              div
                input#radioDefault_123(name='Field123', type='hidden', value='')
                span
                  input#Field123_0.field.radio(name='Field123', type='radio', value='Phenytoin or Dilantin', tabindex='13', checked='checked')
                  label.choice(for='Field123_0')
                    | Phenytoin or Dilantin
                span
                  input#Field123_1.field.radio(name='Field123', type='radio', value='Carbamazepine or Tegretol', tabindex='14')
                  label.choice(for='Field123_1')
                    | Carbamazepine or Tegretol
                span
                  input#Field123_2.field.radio(name='Field123', type='radio', value='Primadone or Mysoline', tabindex='15')
                  label.choice(for='Field123_2')
                    | Primadone or Mysoline
                span
                  input#Field123_3.field.radio(name='Field123', type='radio', value='Topiramate or Topamax', tabindex='16')
                  label.choice(for='Field123_3')
                    | Topiramate or Topamax
                span
                  input#Field123_4.field.radio(name='Field123', type='radio', value='Oxycarbazepine or Trileptal', tabindex='17')
                  label.choice(for='Field123_4')
                    | Oxycarbazepine or Trileptal
          li#foli124.notranslate
            fieldset
              legend#title124.desc
                | Q57.h. Do you take Griseofulvin, Fulvicin or Grisactin?
              //if lt IE 8
                label#title124.desc
                  | Q57.h. Do you take Griseofulvin, Fulvicin or Grisactin?
              div
                input#radioDefault_124(name='Field124', type='hidden', value='')
                span
                  input#Field124_0.field.radio(name='Field124', type='radio', value='Yes', tabindex='18', checked='checked')
                  label.choice(for='Field124_0')
                    | Yes
                span
                  input#Field124_1.field.radio(name='Field124', type='radio', value='No', tabindex='19')
                  label.choice(for='Field124_1')
                    | No
                span
                  input#Field124_2.field.radio(name='Field124', type='radio', value='I don\'t know', tabindex='20')
                  label.choice(for='Field124_2')
                    | I don't know
                span
                  input#Field124_3.field.radio(name='Field124', type='radio', value='I don\'t want to answer this question', tabindex='21')
                  label.choice(for='Field124_3')
                    | I don't want to answer this question

    // this ends the 6th set of questions 06