header
  #logo
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
      // <img ng-src="assets/images/which_method_logo.png" alt=""/>
      //img(ng-src='assets/images/which_method_logo.png', alt='')
  #menu
    a.logout_btn_01( ng-click='logout()') Log out

div.page-header
  h1
    | Congratulations! 
    small   You have completed the WhichMethod assessment.

    .panel.panel-default
    .panel-body
    h3.panel-title Next Steps
    | Please press "Continue" to receive your printout of the birth control methods recommended for you.
    | For extra protection no matter what method you choose, condoms are available at this center.
    br
    | Condoms can be used by themselves or with other birth control methods.  Condoms can prevent pregnancy.
    | Latex condoms can protect you from HIV and other sexually transmitted infections (STIs) like chlamydia, syphilis and gonorrhea.
    | Use a new condom for each sex act.


div.results
  div(ng-include="'app/sections/rankhelp.html'")
