header
  #logo
    .col-xs-6  
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
    .col-xs-6
    a.btn.btn-primary.btn-lg(ng-click='logout()') 
      span(lang='en') Log out
      span(lang='es') Salir

div.page-header
  h1
    span(ng-show="language=='en'") Congratulations!
    span(ng-show="language=='es'") ¡Felicitaciones!
    br
    small   
      span(ng-show="language=='en'") You have completed the WhichMethod assessment.
      span(ng-show="language=='es'") Usted ha terminado con las preguntas de WhichMethod.

  .panel.panel-default
    .panel-body
    h3.panel-title
      span(lang='en') Next Steps
      span(lang='es') Siguientes Pasos
    br
    span(lang='en') Please press "Go to PDF" button below to receive your printout of the birth control methods recommended for you.
    span(lang='es') Por favor oprima el botón “PDF” para recibir su copia de los métodos anticonceptivos que son recomendados.
    br
    span(lang='en') For extra protection no matter what method you choose, use condoms to prevent STIs.
    span(lang='es') Como protección adicional, no importa que método escoja, use condones para prevenir infecciones de transmisión sexual (ITS).


.pdfButtons
  a(href="/recommendation/{{currentUser._id}}" target="_blank")
    .btn.btn-default 
      span(lang='en') GO TO PDF
      span(lang='es') PDF
  
  span(ng-show="currentUser.name != 'guest'")
    button.btn.btn-default.emailButton( ng-disabled="sendingEmail" ng-click="emailPdf()") 
      span(lang='en') EMAIL ME THE RECOMMENDATIONS
      span(lang='es') Mándeme por E-Mail mis recomendaciones
    .prog(ng-show="sendingEmail") 
      span(lang='en') Sending email now...please be patient
      span(lang='es') Mandando e-mail ahora...por favor sea paciente 
    .success(ng-show="emailSuccess") 
      span(lang='en') Your email has been sent!
      span(lang='es') ¡Su e-mail ha sido enviado! 
    .error(ng-show="emailError") 
      span(lang='en') there was a problem... please try again
      span(lang='es') Hubo un problema...por favor vuelva a intentarlo
  a(href="/settings").btn.btn-default(ng-show="currentUser.name == 'guest'") 
    span(lang='en') Register to Receive your PDF via Email
    span(lang='es') Regístrese para recibir por E-Mail su PDF

.recommend
  .green(ng-if="colors.green.length>0")
      b 
      span(lang='en') Green = GO!
      span(lang='es') Verde= ¡Sigue!
      p 
        span(lang='en') These are the best birth control methods for you. They fit your life and goals well and prevent pregnancy best.
        span(lang='es') Estos son los mejores métodos anticonceptivos para usted. Son los más adecuados para su estilo de vida, metas y los que mejor previenen un embarazo.
      .methods       
          .method(ng-repeat="val in colors.green")
            img(src='/assets/images/methodsSml/{{val.img}}.jpg')
            span.text(lang='en') {{val.longText}}
            span.text(lang='es') {{val.nameES}}


  p 
  span(lang='en') <strong>Condoms</strong> can be used by themselves or with other birth control methods. Condoms can prevent pregnancy. Latex condoms can protect you from HIV and other sexually transmitted infections (STIs) like chlamydia, syphilis and gonorrhea. Use a new condom for each sex act.
  br
  span(lang='es') <strong>Condones</strong> pueden ser usados en combinación con otros métodos anticonceptivos. Los condones pueden prevenir el embarazo. Condones látex pueden protegerla contra infecciones de transmisión sexual (ITS) como el VIH, clamidia, sífilis y la gonorrea. Para protegerse contra el VIH y otras ITS, use un condón nuevo por cada acto sexual.
  br
  p 
  span(lang='en') If you forget to use birth control or your birth control method fails, ask your healthcare provider about <strong>Emergency Contraception</strong> (EC, also called Plan B). Emergency contraception is NOT a regular method of birth control. You have to take the EC pills starting within three days (72 hours) after having unprotected sex. Plan B One-Step, Next Choice One Dose and some other brands of emergency contraception can be purchased over the counter without a prescription.
  br
  span(lang='es') Si a usted se le olvida usar el método anticonceptivo o si su método le falla, pregúntele a su proveedor de salud sobre el anticonceptivo de emergencia (AE, también llamado Plan B). El anticonceptivo de emergencia NO es un método de control de la natalidad regular. Usted tiene que tomarse las pastillas anticonceptivas de emergencia en un plazo de tres días (72 horas) después de haber tenido relaciones sexuales sin protección. El Plan B One- Step, Next Choice Once Dose y otras marcas están disponibles sin receta médica en las farmacias.
  br
  br
  .yellow(ng-if="colors.yellow.length>0")
      b 
        span(lang='en') Yellow = Slow!
        span(lang='es') Amarillo = ¡DESPACIO!
      br
      p 
      span(lang='en') These birth control methods are not the best for you because of your answers to the questions or they are less good at preventing pregnancy. You should have a careful discussion with your health care provider before using them.
      span(lang='es') Por su respuestas a las preguntas, estos métodos anticonceptivos no son los mejores en prevenir un embarazo o pueden ser un problema para usted.
      .methods
          .method(ng-repeat="val in colors.yellow")
            img(src='/assets/images/methodsSml/{{val.img}}.jpg')
            span.text(lang='en') {{val.longText}}
            span.text(lang='es') {{val.nameES}}


  .red(ng-if="colors.red.length>0")
          b 
            span(lang='en') Red = NO!
            span(lang='es') Rojo = ¡ALTO!
          br
          p 
          span(lang='en') These birth control methods are not the best for you because of your answers to the questions. You should have a careful discussion with your health care provider before using them.
          span(lang='es') Por su respuestas a las preguntas, estos métodos anticonceptivos no son los mejor para usted.  No los debe de usar sin antes tener una cuidadosa conversación con su proveedor de salud médica.
          .methods
            .method(ng-repeat="val in colors.red")
              img(src='/assets/images/methodsSml/{{val.img}}.jpg')
              span.text(lang='en') {{val.longText}}
              span.text(lang='es') {{val.nameES}}


div.results
  // div(ng-include="'app/sections/rankhelp.html'")
