header
  #logo
    a(href="landing_03.html")
          img.logo_img(src="assets/images/which_method_logo.png", alt="")
          //<img ng-src="assets/images/which_method_logo.png" alt=""/>
          //img(ng-src='assets/images/which_method_logo.png', alt='')
      // logo
  #menu
        a.logout_btn_01(href="#") Log out

section
  #main_wrapper
    #main_content
      .col-md-6
        .media
          .media-left
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing3.jpg', alt='Responsive image', width='504', height='436')
      .col-md-6
        .media-body
          h1.media-heading Questions 14-22
          br
          br
          mark
            | Sexual behavior
          br
          br
          p.lead Your sexual history can help to narrow down the kind of birth control that works best for you. 
          p.lead Don't worry, all answers are completely confidential
          br
          //kbd 3 Questions
    
      //a.save_btn_02(href="#") Save
      p
      //a.continue_btn_03(href="/questions/section/3") Continue &#62;&#62;
      a.btn.btn-default.btn-lg(href='#/questions/section/3', role='button') Continue
        // main_content
      // main_wrapper
footer
  p.footer &#169; Public Health Solutions 2014

      p
        