header
  #logo
    a(href="landing_02.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")


  #menu
    a.logout_btn_01( ng-click='logout()') Log out

section
  #main_wrapper
    #main_content
      .col-md-6
        .media
          .media-left
            img.img-rounded(src='assets/images/whichmethod_landing2.jpg', alt='Woman Mobile', width='504', height='436')
      .col-md-6
        .media-body
          h1.media-heading Questions 4-13
          br
          br
          p.lead The next questions are about your period.
          br
          //kbd 3 Questions      
      p
        a.btn.btn-default.btn-lg(href='#/questions/section/2', role='button') Continue
      // main_content
      // main_wrapper
footer
  p.footer &#169; Public Health Solutions 2014






 