header
  #logo
      a(href="landing_05.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary.btn-lg(ng-click='logout()') Log out

section
    #main_content
    .col-xs-6
      .responsive-container
        .dummy
          .img-container
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing5.jpg', alt='Responsive image', width='604', height='536')
    .col-xs-6
      .responsive-container
        .content-container
          h2.media-heading 
            span(lang='en') Questions 28-52
            span(lang='es') Preguntas 28-52
          br
          h3.media-heading 
            span(lang='en') Medical history
            span(lang='es') Historia médica
          br
          p.lead 
            span(lang='en') Knowing your medical history makes a difference when choosing birth control - some methods cannot be used by women with certain medical conditions.
            span(lang='es') Saber su historia médica hace una diferencia cuando va a escoger un método anticonceptivo. Hay algunos métodos que algunas mujeres no pueden usar porque tienen ciertas condiciones médicas.
          br
          a.btn.btn-default.btn-md(href='/questions/section/5', role='button') Continue
          label.choice(ng-if="language=='en'") {{option.nameEN}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

footer
  p.footer &#169; Public Health Solutions 2014
