   
//- div(ng-include='"components/navbar/navbar.html"')

doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", type="text/css", href="css/landing.css")
    title Which Method: This is Section 2
  body
    header
      #logo
        a(href="landing_02.html")
          img.logo_img(src="assets/images/which_method_logo.png", alt="")
          //<img ng-src="assets/images/which_method_logo.png" alt=""/>
          //img(ng-src='assets/images/which_method_logo.png', alt='')
    
      #menu
        a.logout_btn_01(href='#' ng-click='logout()') Log out
      

    section
      #main_wrapper
        #main_content
          img.main_img(src="assets/images/girl_bronx.jpg", alt="Landing Page Main Image")
          p.main_title
            span Section 02
          p.content_01 The next set of questions are about your period.
          p.content_02 Please enter your responses below.
          a.save_btn_02(href="#") Save
          a.continue_btn_03(href="#") Continue &#62;&#62;
        // main_content
      // main_wrapper
    footer
      p.footer &#169; Public Health Solutions 2014