header
  #logo
    a(href="landing_01.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary.btn-lg(ng-click='logout()') Log out

div.page-header
  h1
    | Congratulations! 
    small   You have completed the WhichMethod assessment.

  .panel.panel-default
    .panel-body
    h3.panel-title
      span(lang='en') Next Steps
      span(lang='es') Siguientes Pasos
    br
    span(lang='en') Please press "Go to PDF" button below to receive your printout of the birth control methods recommended for you.
    span(lang='es') Por favor oprima el botón “PDF” para recibir su copia de los métodos anticonceptivos que son recomendados.
    br
    span(lang='en') For extra protection no matter what method you choose, use condoms to prevent STIs.
    span(lang='es') Como protección adicional, no importa que método escoja, use condones para prevenir infecciones de transmisión sexual (ITS).


.pdfButtons
  a(href="/recommendation/{{currentUser._id}}" target="_blank")
    .btn.btn-default 
      span(lang='en') GO TO PDF
      span(lang='es') BLAH BLAH BLAH
  
  span(ng-show="currentUser.name != 'guest'")
    button.btn.btn-default.emailButton( ng-disabled="sendingEmail" ng-click="emailPdf()") EMAIL ME THE RECOMMENDATIONS
    .prog(ng-show="sendingEmail") Sending email now...please be patient
    .success(ng-show="emailSuccess") Your email has been sent!
    .error(ng-show="emailError") there was a problem... please try again
  a(href="/settings").btn.btn-default(ng-show="currentUser.name == 'guest'") Register to Receive your PDF via Email

.recommend
  .green(ng-if="colors.green.length>0")
      b 
      span(lang='en') Green = GO!
      span(lang='es') SPANISH / Green = GO!
      p 
        span(lang='en') These are the best birth control methods for you. They fit your life and goals well and prevent pregnancy best.
        span(lang='es') spanish spanish spanish
      .methods       
          .method(ng-repeat="val in colors.green")
            img(src='/assets/images/methodsSml/{{val.img}}.jpg')
            span.text {{val.longText}}


  p 
  span(lang='en') <strong>Condoms</strong> can be used by themselves or with other birth control methods. Condoms can prevent pregnancy. Latex condoms can protect you from HIV and other sexually transmitted infections (STIs) like chlamydia, syphilis and gonorrhea. Use a new condom for each sext act.
  br
  span(lang='es') <strong>Condones</strong> pueden ser usados en combinación con otros métodos anticonceptivos. Los condones pueden prevenir el embarazo. Condones látex pueden protegerla contra infecciones de transmisión sexual (ITS) como el VIH, clamidia, sífilis y la gonorrea. Para protegerse contra el VIH y otras ITS, use un condón nuevo por cada acto sexual.
  br
  p 
  span(lang='en') If you forget to use birth control or your birth control method fails, ask your healthcare provider about <strong>Emergency Contraception</strong> (EC, also called Plan B). Emergency contraception is NOT a regular method of birth control. You have to take the EC pills starting within three days (72 hours) after having unprotected sex. Plan B One-Step, Next Choice Once Dose and some other brands of emergency contraception can be purchased over the counter without a prescription.
  br
  span(lang='es') Si a usted se le olvida usar el método anticonceptivo o si su método le falla, pregúntele a su proveedor de salud sobre el anticonceptivo de emergencia (AE, también llamado Plan B). El anticonceptivo de emergencia NO es un método de control de la natalidad regular. Usted tiene que tomarse las pastillas anticonceptivas de emergencia en un plazo de tres días (72 horas) después de haber tenido relaciones sexuales sin protección. El Plan B One- Step, Next Choice Once Dose y otras marcas están disponibles sin receta médica en las farmacias.
  br

  .yellow(ng-if="colors.yellow.length>0")
      b 
        span(lang='en') Yellow = Slow!
        span(lang='es') SPANISH / Yellow = Slow!
      br
      p 
      span(lang='en') These birth control methods are not the best for you because of your answers to the questions or they are less good at preventing pregnancy. You should have a careful discussion with your health care provider before using them.
      span(lang='es') spanish spanish spanish
      .methods
          .method(ng-repeat="val in colors.yellow")
            img(src='/assets/images/methodsSml/{{val.img}}.jpg')
            span.text {{val.longText}}


  .red(ng-if="colors.red.length>0")
          b 
            span(lang='en') Red = Medically Contraindicated!
            span(lang='es') SPANISH / Red = Medically Contraindicated!
          br
          p 
          span(lang='en') These birth control methods are not the best for you because of your answers to the questions. You should have a careful discussion with your health care provider before using them.
          span(lang='es') spanish spanish spanish
          .methods
            .method(ng-repeat="val in colors.red")
              img(src='/assets/images/methodsSml/{{val.img}}.jpg')
              span.text {{val.longText}}


div.results
  div(ng-include="'app/sections/rankhelp.html'")
