header
  #logo
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
      // <img ng-src="assets/images/which_method_logo.png" alt=""/>
      //img(ng-src='assets/images/which_method_logo.png', alt='')
  #menu
    a.logout_btn_01( ng-click='logout()') Log out

section
  #main_wrapper
    #main_content
      .col-md-6
        .media
          .media-left
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing1.jpg', alt='Responsive image', width='504', height='436')
      .col-md-6
        .media-body
          h1.media-heading Questions 1-3
          br
          br
          mark
            | age, weight, smoker
          br
          br
          p.lead First, let's cover the basics.
          br
          //kbd 3 Questions
      p
        a.btn.btn-default.btn-lg(href='#/questions/section/1', role='button') Continue


      //p.main_title
        //h1 Landing Page 1: 
      //img.main_img(src="assets/images/whichmethod_landing1.jpg", alt="Landing Page Main Image")
      //img.img-rounded(src='assets/images/whichmethod_landing1.jpg', alt='Woman Mobile', width='804', height='736')
      //p.main_title
        //h2 First, let's cover the basics.
        //kbd 3 Questions
      //a.save_btn_02(href="#") Save
      //a.continue_btn_03(href="/questions/section/1") Continue &#62;&#62;
    // main_content
  // main_wrapper
footer
  p.footer &#169; Public Health Solutions 2014








