header
  #logo
    .col-xs-6  
    a(href="landing_03.html")  
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
    .col-xs-6
    a.btn.btn-primary.btn-lg(ng-click='logout()') 
      span(lang='en') Log out
      span(lang='es') Salir

section
    #main_content
    .col-xs-6
      .responsive-container
        .dummy
          .img-container
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing3.jpg', alt='Responsive image', width='604', height='536')
    br
    .col-xs-6
      .responsive-container
        .content-container
          h2.media-heading 
            span(lang='en') Questions 14-22
            span(lang='es') Preguntas 14-22
          br
          h2.media-heading 
            span(lang='en') Sexual behavior
            span(lang='es') Comportamiento sexual
          br
          p.lead 
            span(lang='en') Your sexual history can help to narrow down the kind of birth control that works best for you.
            span(lang='es') Su historia sexual puede ayudar a escoger el mejor método anticonceptivo para usted. 
          p.lead 
            span(lang='en') Don't worry, all answers are completely confidential.
            span(lang='es') Por favor recuerde que sus respuestas son totalmente confidenciales.
          br
          a.btn.btn-default.btn-md(href='/questions/section/3', role='button')
            span(lang='en') Continue
            span(lang='es') Continuar
          label.choice(ng-if="language=='en'") {{option.name}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

footer
  p.footer &#169; Public Health Solutions 2014

        