   
//- div(ng-include='"components/navbar/navbar.html"')

doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", type="text/css", href="css/landing.css")
    title Which Method: Landing Page 04
  body
    header
      #logo
        a(href="landing_04.html")
          img.logo_img(src="assets/images/which_method_logo.png", alt="")
          // <img ng-src="assets/images/which_method_logo.png" alt=""/>
          //img(ng-src='assets/images/which_method_logo.png', alt='')
      // logo
      #menu
        a.logout_btn_01(href="#") Log out
      // menu
    
    section
      #main_wrapper
        #main_content
          img.main_img(src="assets/images/woman_mobile-phone.png", alt="Landing Page Main Image")
          p.main_title
            span Section 04
          p.content_01 Many birth control methods change your periods as part of the normal way that they work.
          p.content_02 This is not harmful to your body, but you may or may not like the changes.
          a.save_btn_02(href="#") SAVE
          a.continue_btn_03(href="/questions/section/4", title='') CONTINUE
        // main_content
      // main_wrapper
    footer
      p.footer &#169; Public Health Solution 2014
