header
  #logo
      a(href="landing_07.html")
          img.logo_img(src="assets/images/which_method_logo.png", alt="")
          // <img ng-src="assets/images/which_method_logo.png" alt=""/>
          //img(ng-src='assets/images/which_method_logo.png', alt='')
      // logo
  #menu
        a.logout_btn_01(href="#") Log out

section
  #main_wrapper
    #main_content
      .col-md-6
        .media
          .media-left
            img.img-rounded(src='assets/images/woman_mobile-phone.png', alt='Woman Mobile', width='504', height='436')
      .col-md-6
        .media-body
          h1.media-heading Questions 54a-54e
          br
          br
          p.lead Last step - it's time to give your opinion!
          p.lead What do you think about the following birth control methods?

      //a.save_btn_02(href="#") SAVE
      p
        a.btn.btn-default.btn-lg(href='#/questions/section/7', role='button') Continue
        // main_content
      // main_wrapper
footer
  p.footer &#169; Public Health Solutions 2014
