
//- div(ng-include='"components/navbar/navbar.html"')

#navigation_bar(style='')
#introduction
    .outer_container
      .inner_container
        h1 Section 2
        p
          | Many birth control methods change your periods as part of the normal way that they work. This is not harmful to your body, but you may not like the changes.
        .button
          a(href='', title='') SAVE
        .button
          a(href='/questions/section/3', title='') CONTINUE
#plays_index
#plays.outer_container