header
  #logo
    a(href="landing_02.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")


  #menu
    a.logout_btn_01( ng-click='logout()') Log out
      
section
  #main_wrapper
    #main_content
      p.main_title
        h1 Landing Page 2: Question 4-13
      //img.main_img(src="assets/images/girl_bronx.jpg", alt="Landing Page Main Image")
      img.img-rounded(src='assets/images/woman_mobile-phone.png', alt='Woman Mobile', width='304', height='236')
      p.main_title
        h2 Your Period
        kbd 8 Questions
      a.save_btn_02(href="#") Save
      a.continue_btn_03(href="/questions/section/2") Continue &#62;&#62;
        // main_content
      // main_wrapper
footer
  p.footer &#169; Public Health Solutions 2014


 