 
//- div(ng-include='"components/navbar/navbar.html"')

#navigation_bar(style='')
#introduction
     .outer_container
       .inner_container
        h1 Welcome to WhichMethod
        p
          | In this first set of questions you will be asked some general questions about yourself and your medical history.
        .button
          a(href='', title='') SAVE
        .button
          a(href='/questions/section/1', title='') CONTINUE
#plays_index
#plays.outer_container
