header
  #logo
      a(href="landing_05.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary.btn-lg(ng-click='logout()') Log out

section
  #main_wrapper
    #main_content
      .col-md-6
        .media
          .media-left
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing5.jpg', alt='Responsive image', width='504', height='436')
      .col-md-6
        .media-body
          h1.media-heading Questions 28-52
          br
          br
          h4.media-heading Medical history
          br
          br
          p.lead Knowing your medical history makes a difference when choosing birth control - some methods cannot be used by women with certain medical conditions.

      p
        a.btn.btn-default.btn-lg(href='#/questions/section/5', role='button') Continue
footer
  p.footer &#169; Public Health Solutions 2014
