header
  #logo
    .col-md-6
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
    .col-md-6
    a.btn.btn-primary.btn-lg(ng-click='logout()') Log out

section
  #main_wrapper
    #main_content
      .col-md-6
        .media
          .media-left
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing1.jpg', alt='Responsive image', width='504', height='436')
      .col-md-6
        .media-body
          h1.media-heading Questions 1-3
          br
          br
          h4.media-heading Age, weight, smoker
          br
          br
          p.lead First, let's cover the basics.
          br
          //kbd 3 Questions
      p
        a.btn.btn-default.btn-lg(href='#/questions/section/1', role='button') Continue


footer
  p.footer &#169; Public Health Solutions 2014








