header
  #logo
    a(href="landing_03.html")
          img.logo_img(src="assets/images/which_method_logo.png", alt="")
          //<img ng-src="assets/images/which_method_logo.png" alt=""/>
          //img(ng-src='assets/images/which_method_logo.png', alt='')
      // logo
  #menu
        a.logout_btn_01(href="#") Log out
      // menu
    
section
  #main_wrapper
    #main_content
      p.main_title
        h1 Landing Page 3: Question 14-22 (Sexual Behavior)
      //img.main_img(src="assets/images/latina_physician2.jpg", alt="Landing Page Main Image")
      img.img-rounded(src='assets/images/woman_mobile-phone.png', alt='Woman Mobile', width='304', height='236')
      p.main_title
        h2 Your sexual history can help to narrow down the kind of birth control that works best for you. Don't worry, all answers are completely confidential
        kbd 8 Questions
      a.save_btn_02(href="#") Save
      a.continue_btn_03(href="/questions/section/3") Continue &#62;&#62;
        // main_content
      // main_wrapper
footer
  p.footer &#169; Public Health Solutions 2014