header
  #logo
    a(href="landing_03.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary.btn-lg(ng-click='logout()') Log out

section
    #main_content
    .col-xs-6
      .responsive-container
        .dummy
          .img-container
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing3.jpg', alt='Responsive image', width='504', height='436')
    .col-xs-6
      .responsive-container
        .content-container
          h2.media-heading Questions 14-22
          br
          h4.media-heading Sexual behavior
          br
          p.lead Your sexual history can help to narrow down the kind of birth control that works best for you. 
          p.lead Don't worry, all answers are completely confidential.
          br
          a.btn.btn-default.btn-md(href='/questions/section/3', role='button') Continue

footer
  p.footer &#169; Public Health Solutions 2014

        