header
  #logo
      a(href="landing_05.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary.btn-lg(ng-click='logout()') Log out

section
    #main_content
    .col-xs-6
      .responsive-container
        .dummy
          .img-container
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing5.jpg', alt='Responsive image', width='604', height='536')
    .col-xs-6
      .responsive-container
        .content-container
          h2.media-heading Questions 28-52
          br
          h4.media-heading Medical history
          br
          p.lead Knowing your medical history makes a difference when choosing birth control - some methods cannot be used by women with certain medical conditions.
          br
          a.btn.btn-default.btn-md(href='#/questions/section/5', role='button') Continue

footer
  p.footer &#169; Public Health Solutions 2014
