header
  #logo
    a(href="landing_02.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
    .col-md-6
    a.btn.btn-primary.btn-lg(ng-click='logout()') Log out

section
    #main_content
    .col-xs-6
      .responsive-container
        .dummy
          .img-container
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing2.jpg', alt='Responsive image', width='604', height='536')
    .col-xs-6
      .responsive-container
        .content-container
          h2.media-heading
            span(lang='en') Questions 4-13
            span(lang='es') Preguntas 4-13
          br
          p.lead 
            span(lang='en') The next questions are about your period.
            span(lang='es') Las siguientes preguntas son sobre su periodo menstrual.
          br
          a.btn.btn-default.btn-md(href='/questions/section/2', role='button') Continue
          label.choice(ng-if="language=='en'") {{option.nameEN}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

footer
  p.footer &#169; Public Health Solutions 2014






 