header
  #logo
      a(href="landing_06.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary.btn-lg(ng-click='logout()') Log out

section
    #main_content
    .col-xs-6
      .responsive-container
        .dummy
          .img-container
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing6.jpg', alt='Responsive image', width='604', height='536')
    .col-xs-6
      .responsive-container
        .content-container
          h2.media-heading Question 53
          br
          p.lead Taking vitamins or medication?
          p.lead It's important to note any dietary supplements and prescription medications that are part of your routine.
          br
          a.btn.btn-default.btn-md(href='#/questions/section/6', role='button') Continue

footer
  p.footer &#169; Public Health Solutions 2014
