header
  #logo
    .col-xs-6  
    a(href="landing_04.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
    .col-xs-6
    a.btn.btn-primary.btn-lg(ng-click='logout()') 
      span(lang='en') Log out
      span(lang='es') Salir

section
    #main_content
    .col-xs-6
      .responsive-container
        .dummy
          .img-container
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing4.jpg', alt='Responsive image', width='604', height='536')
    .col-xs-6
      .responsive-container
        .content-container
          h3.media-heading 
            span(lang='en') Questions 23-27
            span(lang='es') Preguntas 23-27
          br
          h3.media-heading 
            span(lang='en') Regular, unscheduled or absent periods
            span(lang='es') Períodos regulares, no programados o ausentes
          br
          p.lead 
            span(lang='en') Some birth control methods may affect your periods.
            span(lang='es') Algunos métodos anticonceptivos pueden cambiar su período menstrual.
          p.lead 
            span(lang='en') This won't hurt you, but it is something to keep in mind.
            span(lang='es') Esto no es dañino para su cuerpo, pero es algo que debe de tener en cuenta.
          br
          a.btn.btn-default.btn-md(href='/questions/section/4', role='button')
            span(lang='en') Continue
            span(lang='es') Continuar
          label.choice(ng-if="language=='en'") {{option.nameEN}}
          label.choice(ng-if="language=='es'") {{option.nameES}}

footer
  p.footer &#169; Public Health Solutions 2014




