header
  #logo
      a(href="landing_04.html")
      .col-md-6
      img.logo_img(src="assets/images/which_method_logo.png", alt="")
  #menu
      .col-md-6
      a.btn.btn-primary.btn-lg(ng-click='logout()') Log out

section
    #main_content
    .col-xs-6
      .responsive-container
        .dummy
          .img-container
            img.img-rounded.img-responsive(src='assets/images/whichmethod_landing4.jpg', alt='Responsive image', width='604', height='536')
    .col-xs-6
      .responsive-container
        .content-container
          h2.media-heading Questions 23-27
          br
          h4.media-heading Regular, unscheduled or absent periods
          br
          p.lead Some birth control methods may affect your periods. 
          p.lead This won't hurt you, but it is something to keep in mind.
          br
          a.btn.btn-default.btn-md(href='#/questions/section/4', role='button') Continue

footer
  p.footer &#169; Public Health Solutions 2014




