header
  #logo
    img.logo_img(src="assets/images/which_method_logo.png", alt="")

  div.page-header
    h3
      | About WhichMethod.org

    .panel.panel-default
    h3.panel-heading
    .panel-body
      h3.panel-title What is WhichMethod.org?
      | Public Health Solutions and Emory University collaborated to create a bilingual (English/Spanish) online application (app) to help teens and young women engage in the contraceptive decision-making process. WhichMethod.org is a decision-making tool that helps young women choose a contraceptive method that is effective, medically appropriate, and best fits their preferences and priorities. Users do not need to know anything about contraceptive methods to use the app. 
      br
      h3.panel-title About the App
      | WhichMethod.org includes two key components: an interactive contraceptive assessment and tailored feedback. It’s available in both Spanish and English, includes approximately 50 questions on sexual risk factors, contraceptive history, preferences and priorities, and medical history.
      br
      h3.panel-title How it works
      | The app incorporates the CDC’s Medical Eligibility Criteria as well as a woman’s individual preferences and priorities (such as when she wants to become pregnant, or whether she needs to keep her method private from her family and/or partner) and makes more than 500 ranking decisions for 19 different contraceptive methods.
      br
      3.panel-title Effectiveness
      | The application was rigorously tested in a randomized controlled trial among more than 2,000 family planning patients. In the trial, women who used the app (compared to a control group) were significantly more likely to choose an effective contraceptive method, and were significantly more likely to continue using it 4 months later (Garbers et al., Contraception 2012). 
      br
      h3.panel-title Who can use the WhichMethod.org?
      | Any woman who does not want to become pregnant right now. It can be used on any smartphone, tablet, or desktop computer that can access the internet. 
      | Women can use the app while they are waiting for a doctor’s appointment.
      | Women in the community who don’t have regular access to care can also use the app.