header
	#logo
		img.logo_img(src="assets/images/which_method_logo.png", alt="")


	div.page-header
	h3
	| Contact Us
	.panel.panel-default
	h3.panel-heading
	.panel-body
	address
	h4 Mary Ann Chiasson
	|   Principal Investigator
	br
	|   Public Health Solutions
	br
	|	40 Worth St. 5th Floor
	br
	|	New York, NY 10013
	br
	abbr(title='Phone') P:
	|  (646) 619-6411
	br
	a(href='mailto:#') machiasson@healthsolutions.org
	br
	.panel.panel-default
	h3.panel-heading
	.panel-body
	address
	h4 Dayana Bermudez
	|   IRB Administrator
	br
	|   Public Health Solutions 
	br
	|	40 Worth St. 5th Floor 
	br
	|	New York, NY 10013
	br
	abbr(title='Phone') P:
	|  (646) 619-6701
	br
	a(href='mailto:#') dbermudez@healthsolutions.org
	br