header
  #logo
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")

div
    ol.breadcrumb
        li
        a(href='/main')
            h5 WhichMethod Main Page

  div.page-header
    h3
      span(ng-show="language=='en'") Contact Us
      span(ng-show="language=='es'") Contáctenos
      br
    .panel.panel-default
    h3.panel-heading
    .panel-body
      address
        h4 Mary Ann Chiasson
        |   Principal Investigator
        br
        |   Public Health Solutions
        br
        |   New York, NY 10013
        br
        abbr(title='Phone') P:
        |  (646) 619-6411
        br
        a(href='mailto:#') machiasson@healthsolutions.org
        br
    .panel.panel-default
    h3.panel-heading
    .panel-body
      address
        h4 Dayana Bermudez
        |   IRB Administrator
        br
        |   Public Health Solutions
        br
        abbr(title='Phone') P:
        |  (646) 619-6701
        br
        a(href='mailto:#') dbermudez@healthsolutions.org
        br
        br
