header
  #logo
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")

div
    ol.breadcrumb
        li
        a(href='/main')
            h5
            span(lang='en') WhichMethod Main Page
            span(lang='es') WhichMethod Página Inicial

  div.page-header
    h3
      | Learn More
    .panel.panel-default
    h3.panel-heading
    .panel-body
      address
        a(href='http://www.plannedparenthood.org/health-info/birth-control')
            h5 
              span(lang='en') Planned Parenthood
              span(lang='es') Aprende Más