header
  #logo
    img.logo_img(src="assets/images/which_method_logo.png", alt="")

  div.page-header
    h3
      | Outreach Partners

    .panel.panel-default
    h3.panel-heading
    .panel-body
      h3.panel-title Bronx Health Center of Community Healthcare Network
      | 975 Westchester Avenue
      | Bronx, NY 10459
      | Tel (718) 320-4466
      | Fax (718) 991-3829
      | http://www.chnnyc.org/our-locations/bronx-health-center
      br
    .panel.panel-default
    h3.panel-heading
    .panel-body
      h3.panel-title Bronx Center of Planned Parenthood of New York City
      | 349 E 149th Street, 2nd Floor
      | Bronx, NY 10451
      | (212) 965-7000
      | http://www.plannedparenthood.org/health-center/new-york/bronx/10451/the-bronx-center-2524-91110
      br
    .panel.panel-default
    h3.panel-heading
    .panel-body
      h3.panel-title Bronx Teens Connection (program of the New York City Department of Health and Mental Hygiene)
      | http://www.nyc.gov/html/doh/html/pr2012/pr004-12.shtml
      br
    .panel.panel-default
    h3.panel-heading
    .panel-body
      h3.panel-title HHC’s Teen Health Improvement Program and the Teen Clinic at Lincoln Medical Center
      | 234 Eugenio Maria De Hostos Blvd (East 149th Street)
      | Bronx, New York 10451 (Between Park and Morris Avenues)
      | 718-579-5000
      | http://www.nyc.gov/html/hhc/lincoln/html/home/home.shtml
      br
    .panel.panel-default
    h3.panel-heading
    .panel-body
      h3.panel-title Family Planning at Lincoln Medical Center
      | 234 East 149th Street
      | Bronx, NY 10451
      | Phone: 718-579-5000
      | http://www.nyc.gov/html/hhc/lincoln/html/services/family.shtml