header
  #logo
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")

div
    ol.breadcrumb
        li
        a(href='/main')
            h5 WhichMethod Main Page

  div.page-header
    h3
        span(ng-show="language=='en'") Outreach Partners
        span(ng-show="language=='es'") Organizaciones Comunitarias
    br    
    .panel.panel-default
    h3.panel-heading
    .panel-body
      address
        h4 Bronx Health Center of Community Healthcare Network
        |   975 Westchester Avenue
        br
        |   Bronx, NY 10459
        br
        abbr(title='Phone') P:
        |  (718) 320-4466
        abbr(title='Fax') F:
        |  (718) 991-3829
        br
        | http://www.chnnyc.org/our-locations/bronx-health-center
        br
        a(href='http://www.chnnyc.org/our-locations/bronx-health-center', target='_blank')
            h5 Bronx Health Center of Community Healthcare Network
      br
    .panel.panel-default
    h3.panel-heading
    .panel-body
      address
        h4 Bronx Center of Planned Parenthood of New York City
        |   349 E 149th Street, 2nd Floor
        br
        |   Bronx, NY 10451
        br
        abbr(title='Phone') P:
        |  (212) 965-7000
        br
        a(href='http://www.plannedparenthood.org/health-center/new-york/bronx/10451/the-bronx-center-2524-91110', target='_blank')
            h5 Bronx Center of Planned Parenthood of New York City
      br
    .panel.panel-default
    h3.panel-heading
    .panel-body
      address
        h4 Bronx Teens Connection 
        |   (program of the New York City Department of Health and Mental Hygiene)
        br
        a(href='http://www.nyc.gov/html/doh/html/pr2012/pr004-12.shtml', target='_blank')
            h5 Bronx Teens Connections
        br
    .panel.panel-default
    h3.panel-heading
    .panel-body
      address
        h4 Bronx HHC’s Teen Health Improvement Program and the Teen Clinic at Lincoln Medical Center
        |   234 Eugenio Maria De Hostos Blvd (East 149th Street)
        br
        |   Bronx, NY 10451 (Between Park and Morris Avenues)
        br
        abbr(title='Phone') P:
        |  (718) 579-5000
        br
        a(href='http://www.nyc.gov/html/hhc/lincoln/html/home/home.shtml', target='_blank')
            h5 Bronx HHC’s Teen Health Improvement Program and the Teen Clinic at Lincoln Medical Center
        br
    .panel.panel-default
    h3.panel-heading
    .panel-body
      address
        h4 Family Planning at Lincoln Medical Center
        |   234 East 149th Street
        br
        |   Bronx, NY 10451
        br
        abbr(title='Phone') P:
        |  (718) 579-5000
        br
        | 
        a(href='http://www.nyc.gov/html/hhc/lincoln/html/home/home.shtml', target='_blank')
            h5 Family Planning at Lincoln Medical Center
        br
        br
