header
  #logo
    a(href="landing_01.html")
      img.logo_img(src="assets/images/which_method_logo.png", alt="")

div
    ol.breadcrumb
        li
        a(href='/main')
            h5 WhichMethod Main Page

  div.page-header
    h3
      | Privacy Policy

    .panel.panel-default
    h3.panel-heading
    .panel-body
      h3.panel-title What is WhichMethod.org?
      | WhichMethod.org is an app that provides general information about birth control methods. It can help you choose a birth control method that is effective, safe, and best fits your needs. It does not replace professional medical advice, diagnosis or treatment. You do not need to know anything about birth control methods to use this app.
      br
      br
      h3.panel-title Confidentiality
      | For your protection, all information you provide will be kept confidential by using a randomly-generated ID number instead of your e-mail address. All answers are stored separately from email addresses.
      br
      br
      h3.panel-title Use of E-mail address
      | If you use WhichMethod.org as a <mark>REGISTERED USER</mark>, we will ask you to provide an email address. <strong>Your e-mail address will not be linked to your answers.</strong> If you register, you will be able to get a copy of your birth control recommendations sent to your email address. As a Registered User, we will send you 1 or 2 follow-up emails to ask 2 questions about birth control use since you used the app. We will not use your e-mail address for any other purpose and we will not share it with anyone. Your email and account will be deleted after 90 days.
      br
      br
      | If you use WhichMethod.org as a <mark>GUEST</mark>, you will not need to provide an email address. You will not receive the follow up emails or a copy of your birth control recommendations sent to your email address.
      br
      br
      h3.panel-title Risks or discomforts
      | You may feel uncomfortable answering some of the questions. You may exit from your browser at any time. To reduce risk of any possibly email disclosure, all users are assigned an ID number, answers are stored separately from emails, and emails are destroyed after 24 hours. 
      br
      br
      h3.panel-title Contact information
      | If you have questions or concerns about WhichMethod.org, please contact Dr. Mary Ann Chiasson at 646-619-6411 or machiasson@healthsolutions.org or Dayana Bermudez, the IRB Administrator, at 646-619-6701 or dbermudez@healthsolutions.org.
      br
      br
      h4.panel-title <mark>IMPORTANT INFORMATION ABOUT YOUR USE OF WHICHMETHOD. PLEASE READ BEFORE YOU USE!</mark>
      | WhichMethod.org app will give you general information only. It will not give you medical advice, diagnosis or treatment. It is meant to provide you with background information before you meet with a medical professional, such as a doctor, physician’s assistant or nurse. If you think you may have an urgent medical problem or might be pregnant, please make an appointment to see a medical professional right away.
      br
      br
      br
      br