/*
html {
background-color: #808080;
}

body {
margin:17px 0 15px 0;
padding:25px;
text-align:left;
font-size:large;
font-family: Tahoma, Arial, Verdana, sans-serif; 
}
*/

/*
body {
background-color: #CECECE;
padding-bottom: 20px;
color: #5a5a5a;
}
*/



#container {
border: 0 solid #ffffff;
}

#container {
margin: 0 auto 10px auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 10px;
margin-left: auto;
max-width: 640px;
}

#container {
text-align:left;
background: #83A99C;
border: 1px solid
#ccc;
}

.body.questionpages {
background-color: #CECECE;
padding-bottom: 20px;
color: #5a5a5a;
}
