.rankingHelp
  span.rankEl(ng-repeat="(key, value) in ranking" style="") 
     
    span.method {{key}} 
    span.pos pos: {{value.p}} 
    span.neg neg: {{value.n}}
    &nbsp;
  span.rankEl(ng-repeat="result in results" style="") 
     
    span.method {{result.name}} 
    span.value: {{result.score}}
    &nbsp;
