$btnText: #000000;
$btnTextAlt: #000000;



.loginView{
  position:absolute;
  top:50%;
  left:50%;
  // margin-top:-200px;
  // margin-left:-200px;
  @include translate3d(-50%,-50%,0);
  max-width:400px;
  //max-height:400px;
  background: #986698;
  z-index:200;
}
.loginContainer{
  padding:40px;
  background-color:#FF5E5E;
  max-width:400px;
  font-size: 20px;
  z-index:0;
}

.signupColumn{
  width:50%;
  float:left;
  padding: 20px 80px;
  background-color: #B7B9AB;
}

.signupColumn.leftColumn{
  font-size: 30px;
}
.signupColumn.rightColumn{
  font-size: 30px;
}