// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

.loginView{
  position:fixed;
  top:50%;
  left:50%;
  // margin-top:-200px;
  // margin-left:-200px;
  @include translate3d(-50%,-50%,0);
  width:400px;
  // height:400px;
  background:white;
  z-index:100;
}
// .close{
//   position:absolute;
//   top:0px;
//   right:0px;
// }
.loginContainer{
  padding:20px;
}